@model PMCTool.Models.Environment.Holiday

@{
    var lng = Context.Request.Cookies["pmctool-lang-app"];
}

@Html.Hidden("AreYouSureDelete", Localizer["AreYouSureDelete"].ToString())
@Html.Hidden("Cancel", Localizer["Cancel"].ToString())
@Html.Hidden("Accept", Localizer["Accept"].ToString())
@Html.Hidden("Edit", Localizer["Edit"].ToString())
@Html.Hidden("Delete", Localizer["Delete"].ToString())

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-right">
                <button onclick="newEntry(); return false;" class="btn btn-default btn-fill"><i class="fas fa-plus-circle"></i> @Localizer["New"]</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card data-tables">
                    <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar          -->
                        </div>
                        <div class="fresh-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover display responsive nowrap" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@Localizer["Name"]</th>
                                        <th>@Localizer["Date"]</th>
                                        <th>@Localizer["Company"]</th>
                                        <th>@Localizer["Created"]</th>
                                        <th>@Localizer["CreatedBy"]</th>
                                        <th>@Localizer["Updated"]</th>
                                        <th>@Localizer["UpdatedBy"]</th>
                                        <th class="disabled-sorting text-right">@Localizer["Actions"]</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>@Localizer["Name"]</th>
                                        <th>@Localizer["Date"]</th>
                                        <th>@Localizer["Company"]</th>
                                        <th>@Localizer["Created"]</th>
                                        <th>@Localizer["CreatedBy"]</th>
                                        <th>@Localizer["Updated"]</th>
                                        <th>@Localizer["UpdatedBy"]</th>
                                        <th class="text-right">@Localizer["Actions"]</th>
                                    </tr>
                                </tfoot>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card horizontal-form" style="border:none;">
                    <div class="card-header ">
                        <h5 class="card-title">@Localizer["ViewTitleHoliday"]</h5>
                    </div>
                    <div class="card-body ">
                        <form id="frmMain">
                            @Html.HiddenFor(m => m.HolidayID)
                            <div class="form-group">
                                <label>@Localizer["Name"]</label><star class="star">*</star>
                                @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @style = "", @required = "required", @maxlength = 150 })
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Date"]</label><star class="star">*</star>
                                @Html.TextBoxFor(m => m.Date, new { @id = "Date", @class = "form-control datepicker", @style = "", @required = "required", @maxlength = 150 })
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Company"]</label><star class="star">*</star>
                                @Html.DropDownListFor(m => m.CompanyID, new SelectList(ViewBag.Companies, "Key", "Value"), new { @id = "CompanyID", @class = "form-control", @style = "" })
                            </div>
                            <div class="card-footer text-right">
                                <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">@Localizer["Cancel"]</button>
                                <button type="button" id="btnUpdate" onclick="updateHoliday(); return false;" class="btn btn-default btn-fill">@Localizer["Update"]</button>
                                <button type="button" id="btnCreate" onclick="createHoliday(); return false;" class="btn btn-default btn-fill">@Localizer["Create"]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_DataTablesScriptsPartial.cshtml")

@section Scripts {
    <script type="text/javascript" src="~/js/core/vHoliday.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap-datetimepicker.js" asp-append-version="true"></script>

    @if (lng == null || lng == "es-MX")
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
    }
}

