@model IEnumerable<PMCTool.Models.Environment.ActionsToMake>; 

@{
    Layout = "_LayoutReportSct";
    ViewData["Title"] = "ACCIONES A REALIZAR";
}
@if (Model != null)
{
       <div class="fresh-datatables" style="margin-top:40px">
                                     <table id="tablebrachadvances" c class="table table-striped table-no-bordered table-hover"  cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                                    <tr class="div-detail-head" style="font-size: 12px !important;
    font-weight: bold;
    background-color: #235b4e;
        color: #ffffff !important;">
                                                                        <th style="color: #ffffff !important;">Código</th>
                                                                        <th style="color: #ffffff !important;">Proyecto</th>
                                                                        <th style="color: #ffffff !important;">Inversión MDP</th>
                                                                        <th style="color: #ffffff !important;">Inicio de obra</th>
                                                                        <th style="color: #ffffff !important;">Fase</th>
                                                                        <th style="color: #ffffff !important;">Estatus</th>
                                                                        <th style="color: #ffffff !important;">Acciones a realizar</th>
                                                                        <th style="color: #ffffff !important;">Nota aclaratoria</th>
                                                    </tr>
                                                </thead> 
                                        <tbody>
                                            @{
                                                @foreach (var row in Model)  
                                                {  
                                                     
                                                         <tr>
                                                            <td>@row.Code</td> 
                                                            <td>@row.Name</td> 
                                                            <td><span class="ws">$@row.Inversion mdp</span></td> 
                                                            <td><span class="ws">@row.StartDate.ToString("yyyy-MM-dd")</span> </td> 
                                                            <td>@row.Fase</td> 
                                                            <td>
                                                                 @if (@row.Estatus == 1)
                                                                    {
                                                                        <span class="badge ws badge-success"><strong>En tiempo</strong></span>
                                                                    }
                                                                    @if (@row.Estatus == 2)
                                                                    {
                                                                        <span class="badge ws badge-warning"><strong>Atrasado</strong></span>
                                                                    }
                                                                    @if (@row.Estatus == 3)
                                                                    {
                                                                        <span class="badge ws badge-danger"><strong>Con impacto</strong></span>
                                                                    }
                                                                    @if (@row.Estatus == 4)
                                                                    {
                                                                        <span class="badge ws badge-secondary"><strong>Terminado</strong></span>
                                                                    }

                                                            </td> 
                                                            <td style="    text-align: justify;">@row.ActionToMake</td> 
                                                            <td style="    text-align: justify;">@row.Nota</td>  
                                                         </tr>    
        
                                                 } 
                                            }
                                         
                                        </tbody>
                                    </table>
   </div>
 
 }
 else
 {
        <h5 class="color-font-global">No se encontraron resultados para los filtros ingresados</h5>
}
