@{
    var lng = Context.Request.Cookies["pmctool-lang-app"];
}

<link rel="stylesheet" href="~/css/xd.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/detalle-actividad.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/mi-tablero.css" asp-append-version="true" />
<link href="~/js/plugins/fullcalendarjs/daygrid/main.css" rel="stylesheet" />

@{
    if (ViewBag.ParticipantID == null || ViewBag.ParticipantID == Guid.Empty)
    {
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-center">
                            @await Html.PartialAsync("_Header.cshtml")
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row ">
                                            <div class="col-md-12 text-center">
                                                <div class="txt-blue pt-1 pb-2 title-pendientes bold">@Localizer["Calendar"].ToString().ToUpper()</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-center">
                            @await Html.PartialAsync("_Header.cshtml")
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row ">
                                            <div class="col-md-12 text-center">
                                                <div class="txt-blue pt-1 pb-2 title-pendientes bold"> @Localizer["Calendar"].ToString().ToUpper() </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="fullCalendar"></div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="modal fade" id="modalElementDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel-4"> </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body pt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card strpied-tabled-with-hover">
                                    <div class="card-header ">
                                        <div class="row">

                                            <div class="col-md-12 pt-0">
                                                <small class="font-weight-normal bold"><i class="fas fa-copy"></i> @Localizer["Project"]</small>
                                                <div id="project" class="media align-items-center font-weight-bold  mb-0 mt-0">
                                                    <!-- <span class="txt-blue"> CONSTRUCCIÓN DE PLATAFORMA ELM KUIL-C	<span class="bold st-entiempo">En tiempo</span></span>-->
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 pt-0">
                                                <div class="row">
                                                    <div class="col-md-12 pt-0"><span class="bold" id="elementType"> </span><span id="elementName"></span></div>
                                                    <div class="col-md-12 pt-0">
                                                        <span class="bold">@Localizer["Comments"]:</span>
                                                        <span id="comment"> </span>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-12 pt-0 text-right">
                                                <a href="#" id="btn_element" class="btn btn-round btn-sm pl-3 pr-3"> Ir <i class="fas fa-arrow-right"></i></a>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right pr-5 mb-4">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> @Localizer["Close"] </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    }
}


@section Scripts {
    <script type="text/javascript" src="~/js/core/vMyDashboardCalendar.js" asp-append-version="true"></script>

    <script src="~/js/plugins/fullcalendarjs/core/main.js"></script>
    <script src="~/js/plugins/fullcalendarjs/daygrid/main.js"></script>
    <script src="~/js/plugins/fullcalendarjs/moment/main.js"></script>
    <script src="~/js/plugins/fullcalendarjs/fullcalendar.min.js"></script>
    @if (lng == null || lng == "es-MX")
    {
        <script src="~/js/plugins/fullcalendarjs/locale/es.js"></script>
    }
}