@model PMCTool.App.Models.MyDashboardPendings
@{
    var lng = Context.Request.Cookies["pmctool-lang-app"];
}

<link rel="stylesheet" href="~/css/xd.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/detalle-actividad.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/mi-tablero.css" asp-append-version="true" />

@Html.Hidden("EnumProjectRiskImpact_1", Localizer["EnumProjectRiskImpact_1"].ToString())
@Html.Hidden("EnumProjectRiskImpact_2", Localizer["EnumProjectRiskImpact_2"].ToString())
@Html.Hidden("EnumProjectRiskImpact_3", Localizer["EnumProjectRiskImpact_3"].ToString())
@Html.Hidden("EnumProjectRiskProbability_1", Localizer["EnumProjectRiskProbability_1"].ToString())
@Html.Hidden("EnumProjectRiskProbability_2", Localizer["EnumProjectRiskProbability_2"].ToString())
@Html.Hidden("EnumProjectRiskProbability_3", Localizer["EnumProjectRiskProbability_3"].ToString())
@Html.Hidden("EnumProjectElementStatus_1", Localizer["EnumProjectElementStatus_1"].ToString())
@Html.Hidden("EnumProjectElementStatus_2", Localizer["EnumProjectElementStatus_2"].ToString())
@Html.Hidden("EnumProjectElementStatus_3", Localizer["EnumProjectElementStatus_3"].ToString())
@Html.Hidden("EnumProjectElementStatus_4", Localizer["EnumProjectElementStatus_4"].ToString())
@Html.Hidden("EnumProjectElementStatus_5", Localizer["EnumProjectElementStatus_5"].ToString())
@Html.Hidden("Edit", Localizer["Edit"].ToString())

@{
    if (ViewBag.ParticipantID == null || ViewBag.ParticipantID == Guid.Empty)
    {
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-center">
                            @await Html.PartialAsync("_Header.cshtml")
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row ">
                                            <div class="col-md-12 text-center">
                                                <div class="txt-blue pt-1 pb-2 title-pendientes bold">@Localizer["Pendings"].ToString().ToUpper()</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-center">
                            @await Html.PartialAsync("_Header.cshtml")
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row ">
                                            <div class="col-md-12 text-center">
                                                <div class="txt-blue pt-1 pb-2 title-pendientes bold">@Localizer["Pendings"].ToString().ToUpper()</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <h6 class="txt-blue pt-3 pb-2 mb-2">
                                                        @Localizer["SelectPendingStates"]:
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="row box-status">
                                                <div class="col-md-12 pb-3">
                                                    <form action="/action_page.php">
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label" for="ckOnTime">
                                                                <input type="checkbox" class="form-check-input" id="ckOnTime" name="ckOnTime" value="1" checked>
                                                                <span class="bold st-entiempo pb-1">
                                                                    <span class="badge badge-secondary-b" id="onTime">@Model.ParticipantSummary.Summary.OnTime</span>
                                                                    @Localizer["EnumProjectElementStatus_1"]
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label" for="ckDelayed">
                                                                <input type="checkbox" class="form-check-input" id="ckDelayed" name="ckDelayed" value="2" checked>
                                                                <span class="bold st-atrasado pb-1">
                                                                    <span class="badge badge-secondary-b" id="delayed">@Model.ParticipantSummary.Summary.Delayed</span>
                                                                    @Localizer["EnumProjectElementStatus_2"]
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label" for="ckWithImpact">
                                                                <input type="checkbox" class="form-check-input" id="ckWithImpact" name="ckWithImpact" value="3" checked>
                                                                <span class="bold st-cimpacto pb-1">
                                                                    <span class="badge badge-secondary-b" id="withImpact">@Model.ParticipantSummary.Summary.WithImpact</span>
                                                                    @Localizer["EnumProjectElementStatus_3"]
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </form>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h6 class="txt-blue pt-3 pb-2 mb-0">
                                                                @Localizer["FilterByElement"].ToString().ToUpper():
                                                            </h6>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <form action="/action_page.php">
                                                                <div class="form-check-inline">
                                                                    <label class="form-check-label" for="ckActivities">
                                                                        <input type="checkbox" class="form-check-input" id="ckActivities" name="ckActivities" value="1">
                                                                        <span class="bold st-filtros pb-1">
                                                                            @Localizer["Activities"]
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check-inline">
                                                                    <label class="form-check-label" for="ckEvidences">
                                                                        <input type="checkbox" class="form-check-input" id="ckEvidences" name="ckEvidences" value="3">
                                                                        <span class="bold st-filtros pb-1">
                                                                            @Localizer["Evidences"]
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check-inline">
                                                                    <label class="form-check-label" for="ckMilestones">
                                                                        <input type="checkbox" class="form-check-input" id="ckMilestones" name="ckMilestones" value="2">
                                                                        <span class="bold st-filtros pb-1">
                                                                            @Localizer["Milestones"]
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check-inline">
                                                                    <label class="form-check-label" for="ckControlPoints">
                                                                        <input type="checkbox" class="form-check-input" id="ckControlPoints" name="ckControlPoints" value="10">
                                                                        <span class="bold st-filtros pb-1">
                                                                            @Localizer["ControlPoints"]
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check-inline">
                                                                    <label class="form-check-label" for="ckAgreements">
                                                                        <input type="checkbox" class="form-check-input" id="ckAgreements" name="ckAgreements" value="6">
                                                                        <span class="bold st-filtros pb-1">
                                                                            @Localizer["Agreements"]
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check-inline">
                                                                    <label class="form-check-label" for="ckIncidents">
                                                                        <input type="checkbox" class="form-check-input" id="ckIncidents" name="ckIncidents" value="4">
                                                                        <span class="bold st-filtros pb-1">
                                                                            @Localizer["Incidents"]
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check-inline">
                                                                    <label class="form-check-label" for="ckRisks">
                                                                        <input type="checkbox" class="form-check-input" id="ckRisks" name="ckRisks" value="5">
                                                                        <span class="bold st-filtros pb-1">
                                                                            @Localizer["Risks"]
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check-inline">
                                                                    <label class="form-check-label" for="ckMitigation">
                                                                        <input type="checkbox" class="form-check-input" id="ckMitigation" name="ckMitigation" value="8">
                                                                        <span class="bold st-filtros pb-1">
                                                                            @Localizer["PlanMitigation"]
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check-inline">
                                                                    <label class="form-check-label" for="ckContingency">
                                                                        <input type="checkbox" class="form-check-input" id="ckContingency" name="ckContingency" value="9">
                                                                        <span class="bold st-filtros pb-1">
                                                                            @Localizer["PlanContingency"]
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check-inline">
                                                                    <label class="form-check-label" for="ckContingency">
                                                                        <input type="checkbox" class="form-check-input" id="ckActionPlan" name="ckActionPlan" value="7">
                                                                        <span class="bold st-filtros pb-1">
                                                                            @Localizer["ActionPlan"]
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <div class="dropdown">
                                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-filter"></i> @Localizer["Project"]
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                            @{
                                                                var collection = new SelectList(ViewBag.Projects, "Key", "Value");
                                                                foreach (var item in collection)
                                                                {
                                                                    <button onclick="refresh('@item.Value', '@item.Text'); return false;" class="dropdown-item refresChart" type="button">@item.Text</button>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row pt-0 _contentenReport">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-12 text-center mt-header-report pt-1 pb-1 f8 mayusculas">
                                                                @Localizer["Project"]: <span id="Project_Name">PMC-tool V5</span>
                                                            </div>
                                                            <div class="col-md-12 box-bordes">
                                                                <div class="row" id="boxActivities">
                                                                    <div class="col-md-12">
                                                                        <div class="row justify-content-md-center">
                                                                            <div class="col-md-6  text-center lbl-responsable-2 f8 mayusculas">
                                                                                @Localizer["Activities"]
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive-md  box-bordes-2">
                                                                            <table class="table table-striped report-status">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">@Localizer["Description"]</th>
                                                                                        <th scope="col">@Localizer["PlannedStartDate"]</th>
                                                                                        <th scope="col">@Localizer["PlannedEndDate"]</th>
                                                                                        <th scope="col">@Localizer["RealProgress"]</th>
                                                                                        <th scope="col">@Localizer["Status"]</th>
                                                                                        <th scope="col" class="text-center">@Localizer["Comments"]</th>
                                                                                        <th scope="col"> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tActivities">
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="boxMilestones">
                                                                    <div class="col-md-12">
                                                                        <div class="row justify-content-md-center">
                                                                            <div class="col-md-6  text-center lbl-responsable-2 f8 mayusculas">
                                                                                @Localizer["Milestones"]
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive-md  box-bordes-2">
                                                                            <table class="table table-striped report-status">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">@Localizer["Description"]</th>
                                                                                        <th scope="col">@Localizer["PlannedEndDate"]</th>
                                                                                        <th scope="col">@Localizer["RealProgress"]</th>
                                                                                        <th scope="col">@Localizer["Status"]</th>
                                                                                        <th scope="col" class="text-center">@Localizer["Comments"]</th>
                                                                                        <th scope="col"> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tMilestones">
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="boxEvidences">
                                                                    <div class="col-md-12">
                                                                        <div class="row justify-content-md-center">
                                                                            <div class="col-md-6  text-center lbl-responsable-2 f8 mayusculas">
                                                                                @Localizer["Evidences"]
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive-md  box-bordes-2">
                                                                            <table class="table table-striped report-status">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">@Localizer["LinkedActivity"]</th>
                                                                                        <th scope="col">@Localizer["Description"]</th>
                                                                                        <th scope="col">@Localizer["PlannedEndDate"]</th>
                                                                                        <th scope="col">@Localizer["RealProgress"]</th>
                                                                                        <th scope="col">@Localizer["Status"]</th>
                                                                                        <th scope="col" class="text-center">@Localizer["Comments"]</th>
                                                                                        <th scope="col"> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tEvidences">
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="boxControlPoints">
                                                                    <div class="col-md-12">
                                                                        <div class="row justify-content-md-center">
                                                                            <div class="col-md-6  text-center lbl-responsable-2 f8 mayusculas">
                                                                                @Localizer["ControlPoints"]
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive-md  box-bordes-2">
                                                                            <table class="table table-striped report-status">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">@Localizer["Description"]	</th>
                                                                                        <th scope="col">@Localizer["Evidence"]</th>
                                                                                        <th scope="col">@Localizer["DateApproval"]	</th>
                                                                                        <th scope="col">@Localizer["Status"]</th>
                                                                                        <th scope="col" class="text-center">@Localizer["Comments"]</th>
                                                                                        <th scope="col"> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tControlPoints">
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="boxAgreements">
                                                                    <div class="col-md-12">
                                                                        <div class="row justify-content-md-center">
                                                                            <div class="col-md-6  text-center lbl-responsable-2 f8 mayusculas">
                                                                                @Localizer["Agreements"]
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive-md  box-bordes-2">
                                                                            <table class="table table-striped report-status">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">@Localizer["Meeting"]	</th>
                                                                                        <th scope="col">@Localizer["Topic"]</th>
                                                                                        <th scope="col">@Localizer["Description"]	</th>
                                                                                        <th scope="col">@Localizer["AgreementDate"]	</th>
                                                                                        <th scope="col">@Localizer["Status"]</th>
                                                                                        <th scope="col"> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tAgreements">
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="boxPlanMitigation">
                                                                    <div class="col-md-12">
                                                                        <div class="row justify-content-md-center">
                                                                            <div class="col-md-6  text-center lbl-responsable-2 f8 mayusculas">
                                                                                @Localizer["PlanMitigation"] - @Localizer["Risk"]
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive-md  box-bordes-2">
                                                                            <table class="table table-striped report-status">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">@Localizer["Description"]	</th>
                                                                                        <th scope="col">@Localizer["StartDate"]	</th>
                                                                                        <th scope="col">@Localizer["PlannedEndDate"]		</th>
                                                                                        <th scope="col">@Localizer["Status"]</th>
                                                                                        <th scope="col">@Localizer["Comments"]</th>
                                                                                        <th scope="col"> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tMitigation">
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="boxActionPlan">
                                                                    <div class="col-md-12">
                                                                        <div class="row justify-content-md-center">
                                                                            <div class="col-md-6  text-center lbl-responsable-2 f8 mayusculas">
                                                                                @Localizer["ActionPlan"] - @Localizer["Incident"]
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive-md  box-bordes-2">
                                                                            <table class="table table-striped report-status">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">@Localizer["Description"]	</th>
                                                                                        <th scope="col">@Localizer["StartDate"]	</th>
                                                                                        <th scope="col">@Localizer["PlannedEndDate"]</th>
                                                                                        <th scope="col">@Localizer["Status"]</th>
                                                                                        <th scope="col">@Localizer["Comments"]</th>
                                                                                        <th scope="col"> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tActionPlan">
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="boxPlanContingency">
                                                                    <div class="col-md-12">
                                                                        <div class="row justify-content-md-center">
                                                                            <div class="col-md-6  text-center lbl-responsable-2 f8 mayusculas">
                                                                                @Localizer["PlanContingency"] - @Localizer["Risk"]
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive-md  box-bordes-2">
                                                                            <table class="table table-striped report-status">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">@Localizer["Description"]</th>
                                                                                        <th scope="col">@Localizer["StartDate"]</th>
                                                                                        <th scope="col">@Localizer["PlannedEndDate"]</th>
                                                                                        <th scope="col">@Localizer["Status"]</th>
                                                                                        <th scope="col">@Localizer["Comments"]</th>
                                                                                        <th scope="col"> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tContingency">
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="boxIncidents">
                                                                    <div class="col-md-12">
                                                                        <div class="row justify-content-md-center">
                                                                            <div class="col-md-6  text-center lbl-responsable-2 f8 mayusculas">
                                                                                @Localizer["Incidents"]
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive-md  box-bordes-2">
                                                                            <table class="table table-striped report-status">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">@Localizer["Description"]	</th>
                                                                                        <th scope="col">@Localizer["RegistrationDate"]	</th>
                                                                                        <th scope="col">@Localizer["AgreementDate"]</th>
                                                                                        <th scope="col">@Localizer["Status"]</th>
                                                                                        <th scope="col" class="text-center">@Localizer["Comments"]</th>
                                                                                        <th scope="col"> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tIncidents">
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="boxRisks">
                                                                    <div class="col-md-12">
                                                                        <div class="row justify-content-md-center">
                                                                            <div class="col-md-6  text-center lbl-responsable-2 f8 mayusculas">
                                                                                @Localizer["Risks"]
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive-md  box-bordes-2">
                                                                            <table class="table table-striped report-status">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">@Localizer["Description"]	</th>
                                                                                        <th scope="col">@Localizer["DateRegistry"]	</th>
                                                                                        <th scope="col">@Localizer["AgreementDate"]</th>
                                                                                        <th scope="col">@Localizer["Probability"]</th>
                                                                                        <th scope="col">@Localizer["Impact"]</th>
                                                                                        <th scope="col">@Localizer["Status"]</th>
                                                                                        <th scope="col" class="text-center">@Localizer["Comments"]</th>
                                                                                        <th scope="col"> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tRisks">
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}



<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card horizontal-form" style="border:none;">
                    <div class="card-header ">
                        <h5 class="card-title" id="element_project"></h5>
                        <div class="row">
                            <div class="col-md-12 pt-0">
                                <small class="font-weight-normal bold" id="element_type_name"></small>
                                <div class="media align-items-center font-weight-bold  mb-0 mt-0">
                                    <span class="txt-blue" id="element_name"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form id="frmMain">
                            @Html.HiddenFor(m => m.ProjectID)
                            @Html.HiddenFor(m => m.ProjectName)
                            @Html.HiddenFor(m => m.ElementID)
                            @Html.HiddenFor(m => m.ElementType)
                            @Html.HiddenFor(m => m.Status)
                            @Html.HiddenFor(m => m.ParentID)
                            <div id="dvStatus">
                                <div class="form-group mb-0">
                                    <label>Estatus</label> <span id="StatusIndicator" class="bold st-atrasado"></span>
                                </div>
                                <div id="dvStatusCheck" class="form-group mb-0">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @Html.CheckBoxFor(m => m.WithImpact, new { @class = "form-check-input" })
                                            <span class="form-check-sign"></span>
                                            @Localizer["EnumProjectElementStatus_3"]
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Progress"]</label><star class="star">*</star>
                                @Html.TextBoxFor(m => m.Progress, new { @class = "form-control", @maxlength = 20, @required = "required", @min = 0, @max = 100 })
                                <div id="dvProgressCheck" class="form-group mb-0">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @Html.CheckBox("RealProgress", new { @id = "RealProgress", @class = "form-check-input" })
                                            <span class="form-check-sign"></span>
                                            @Localizer["Completed"]
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Comments"]</label>
                                @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", @maxlength = 1500 })
                            </div>
                            <div class="card-footer text-right">
                                <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">@Localizer["Cancel"]</button>
                                <button type="button" id="btnUpdate" onclick="updateElement(); return false;" class="btn btn-default btn-fill">@Localizer["Update"]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/core/vMyDashboardPendings.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.mask.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.animateNumber.min.js" asp-append-version="true"></script>

    @if (lng == null || lng == "es-MX")
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
    }
}