@model PMCTool.Models.Environment.ParticipantSummary
@{
    var lng = Context.Request.Cookies["pmctool-lang-app"];
}

<link rel="stylesheet" href="~/css/xd.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/detalle-actividad.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/mi-tablero.css" asp-append-version="true" />

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

@{
    if (ViewBag.ParticipantID == null || ViewBag.ParticipantID == Guid.Empty)
    {
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-center">
                            @await Html.PartialAsync("_Header.cshtml")
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row ">
                                            <div class="col-md-12 text-center">
                                                <div class="txt-blue pt-1 pb-2 title-pendientes bold">@Localizer["Summary"].ToString().ToUpper()</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-center">
                            @await Html.PartialAsync("_Header.cshtml")
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row ">
                                            <div class="col-md-12 text-center">
                                                <div class="txt-blue pt-1 pb-2 title-pendientes bold">@Localizer["Summary"].ToString().ToUpper()</div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="container">
                                                <div class="row h-100 justify-content-center align-items-center p-3 text-center align-items-center">
                                                    <div class="col-md-auto">
                                                        <span class="bold st-entiempo pb-1 ws pointer" onclick="statusDetail(1); return false;">
                                                            <span class="badge badge-secondary-b ">@Model.Summary.OnTime</span>
                                                            @Localizer["OnTime"]
                                                        </span>
                                                    </div>
                                                    <div class="col-md-auto">
                                                        <span class="bold st-atrasado pb-1 ws pointer" onclick="statusDetail(2); return false;">
                                                            <span class="badge badge-secondary-b ">@Model.Summary.Delayed</span>
                                                            @Localizer["Delayed"]
                                                        </span>
                                                    </div>
                                                    <div class="col-md-auto">
                                                        <span class="bold st-cimpacto pb-1 ws pointer" onclick="statusDetail(3); return false;">
                                                            <span class="badge badge-secondary-b ">@Model.Summary.WithImpact</span>
                                                            @Localizer["WithImpact"]
                                                        </span>
                                                    </div>
                                                    <div class="col-md-auto">
                                                        <span class="bold st-cerrado pb-1 ws pointer" onclick="statusDetail(4); return false;">
                                                            <span class="badge badge-secondary-b ">@Model.Summary.Closed</span>
                                                            @Localizer["Closed"]
                                                        </span>
                                                    </div>
                                                    <div class="col-md-auto">
                                                        <span class="bold st-cancelado pb-1 ws pointer" onclick="statusDetail(5); return false;">
                                                            <span class="badge badge-secondary-b ">@Model.Summary.Canceled</span>
                                                            @Localizer["Canceled"]
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header d-sm-flex align-items-start justify-content-between text-center">
                                            <h6 class="lh-5 mg-b-0">@Localizer["ProjectStatus"]</h6>
                                        </div>
                                        <div class="card-body pd-y-15 pd-x-10">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">@Localizer["Project"]</th>
                                                            <th scope="col" class="text-center">
                                                                <span class="bold st-entiempo pb-1  ws">
                                                                    <span class="badge badge-secondary-b ">@Model.Summary.OnTime</span>
                                                                    @Localizer["OnTime"]
                                                                </span>
                                                            </th>
                                                            <th scope="col" class="text-center">
                                                                <span class="bold st-atrasado pb-1 ws">
                                                                    <span class="badge badge-secondary-b ">@Model.Summary.Delayed</span>
                                                                    @Localizer["Delayed"]
                                                                </span>
                                                            </th>
                                                            <th scope="col" class="text-center">
                                                                <span class="bold st-cimpacto pb-1 ws">
                                                                    <span class="badge badge-secondary-b ">@Model.Summary.WithImpact</span>
                                                                    @Localizer["WithImpact"]
                                                                </span>
                                                            </th>
                                                            <th scope="col" class="text-center">
                                                                <span class="bold st-cerrado pb-1 ws">
                                                                    <span class="badge badge-secondary-b ">@Model.Summary.Closed</span>
                                                                    @Localizer["Closed"]
                                                                </span>
                                                            </th>
                                                            <th scope="col" class="text-center">
                                                                <span class="bold st-cancelado pb-1 ws">
                                                                    <span class="badge badge-secondary-b ">@Model.Summary.Canceled</span>
                                                                    @Localizer["Canceled"]
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            foreach (var ipc in Model.ProjectElementsByStatusCount)
                                                            {
                                                                <tr>
                                                                    <th scope="row"><span data-toggle="tooltip" data-placement="top" title="@ipc.ProjectName">@ipc.ProjectName</span></th>
                                                                    <td class="text-center"><button class="btn btn-round  btn-outline btn-sm" onclick="projectStatusDetail('@ipc.ProjectID', '@ipc.ProjectName', 1); return false;"> @ipc.OnTime </button></td>
                                                                    <td class="text-center"><button class="btn btn-round  btn-outline btn-sm" onclick="projectStatusDetail('@ipc.ProjectID', '@ipc.ProjectName', 2); return false;"> @ipc.Delayed </button></td>
                                                                    <td class="text-center"><button class="btn btn-round  btn-outline btn-sm" onclick="projectStatusDetail('@ipc.ProjectID', '@ipc.ProjectName', 3); return false;"> @ipc.WithImpact </button></td>
                                                                    <td class="text-center"><button class="btn btn-round  btn-outline btn-sm" onclick="projectStatusDetail('@ipc.ProjectID', '@ipc.ProjectName', 4); return false;"> @ipc.Closed </button></td>
                                                                    <td class="text-center"><button class="btn btn-round  btn-outline btn-sm" onclick="projectStatusDetail('@ipc.ProjectID', '@ipc.ProjectName', 5); return false;"> @ipc.Canceled </button></td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row p-3">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header d-sm-flex align-items-start justify-content-between">
                                        </div><!-- card-header -->
                                        <div class="card-body pd-y-15 pd-x-10">
                                            <div class="col-md-12"> <div id="grafica"></div></div>
                                        </div><!-- card-body -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}

<div class="modal fade" id="countProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-4"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pt-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title txt-blue bold" id="pname"></h4>
                                <p class="card-category"> </p>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Localizer["Element"].ToString().ToUpper()</th>
                                            <th>@Localizer["Description"].ToString().ToUpper()</th>
                                            <th>@Localizer["PlannedEndDate"].ToString().ToUpper()</th>
                                            <th>@Localizer["RealProgress"].ToString().ToUpper()</th>
                                            <th>@Localizer["Status"].ToString().ToUpper()</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tProjectDetail">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right pr-5 mb-4">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="countStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-4"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pt-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">@Localizer["ViewTitleMyDashboardLabel_01"]</h4>
                                <p class="card-category">@Localizer["ViewTitleMyDashboardLabel_02"]</p>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Localizer["Type"].ToString().ToUpper()</th>
                                            <th>@Localizer["Element"].ToString().ToUpper()</th>
                                            <th>@Localizer["Project"].ToString().ToUpper()</th>
                                            <th>@Localizer["Status"].ToString().ToUpper()</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tdetail">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right pr-5 mb-4">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="graphModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-4"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pt-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <div class="row">
                                    <div class="col-md-12 pt-0">
                                        <small class="font-weight-normal bold">@Localizer["Project"]</small>
                                        <div class="media align-items-center font-weight-bold  mb-0 mt-0">
                                            <span class="txt-blue" id="graphModalProjectName"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-header d-sm-flex align-items-start justify-content-between">
                                    <h6 class="lh-5 mg-b-0">@Localizer["ViewTitleMyDashboardLabel_03"].ToString().ToUpper()</h6>
                                </div>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                                <table class="table table-hover table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th>@Localizer["Activity"].ToString().ToUpper()</th>
                                            <th class="text-center">@Localizer["Date"].ToString().ToUpper()</th>
                                            <th class="text-center">@Localizer["Hours"].ToString().ToUpper()</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody" id="tHoursDetail">
                                        <tr>
                                            <td><a href="http://pmc-tool.com.mx/doc/pmctool./Ac/">Control del personal - Disponibilidad de personal</a></td>
                                            <td>2019-10-10</td>
                                            <td class="text-center">02:00:00</td>
                                        </tr>
                                        <tr>
                                            <td><a href="http://pmc-tool.com.mx/doc/pmctool./Ac/">Work Breakdown Structure (WBS) / proyecto</a></td>
                                            <td>2019-10-10</td>
                                            <td class="text-center">02:30:00</td>
                                        </tr>
                                        <tr>
                                            <td><a href="http://pmc-tool.com.mx/doc/pmctool./Ac/">Revisar tipos de datos de mensajería</a></td>
                                            <td>2019-10-10</td>
                                            <td class="text-center">02:00:00</td>
                                        </tr>
                                        <tr>
                                            <td><a href="http://pmc-tool.com.mx/doc/pmctool./Ac/">Control del personal - Disponibilidad de personal</a></td>
                                            <td>2019-10-10</td>
                                            <td class="text-center">00:30:00</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-right font-weight-bold"> Total:</td>
                                            <td class="text-center font-weight-bold">08:00:00 hrs</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right pr-5 mb-4">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/core/vMyDashboardSummary.js" asp-append-version="true"></script>

    @if (lng == null || lng == "es-MX")
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
    }
}