@model PMCTool.App.Models.ProjectLayerViewModel

@{
    var lng = Context.Request.Cookies["pmctool-lang-app"];
}

<link rel="stylesheet" href="~/css/detalle-actividad.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/indicadores.css" asp-append-version="true" />

@Html.Hidden("ProjectID", Model.ProjectID)

<div class="content">
    <div class="container-fluid">
        <div class="col-md-12 card">
            <div class="container-fluid flex-grow-1 container-p-y  pl-0 pr-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10 pt-2 pb-4">
                                <small class="font-weight-normal bold"><b>@Localizer["Project"]</b></small>
                                <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                                    <span class="txt-blue"> @Model.ProjectName.ToUpper() </span>
                                </h4>
                            </div>
                            <div class="col-md-2 text-right pt-2">
                                <a href="/Execution/project?id=@Model.ProjectID" class="btn btn-sm btn-default  btn-outline"><i class="fas fa-long-arrow-alt-left"></i> @Localizer["Back"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 card capas">
                    <div class="row">
                        <div class="col-md-12 text-center ev">
                            <h4 class="mt-2 mb-2"><a href="/Execution/Evidences?id=@Model.ProjectID" class="txt-blue underline-link"><i class="fas fa-box-open blue-pmc f8"></i> @Localizer["Evidences"]</a></h4>
                        </div>
                    </div>

                    @{
                        var parents = Model.Layers.Where(t => t.ParentID == null).OrderBy(t => t.Row).ToList();
                        foreach (var parent in parents)
                        {
                            <div class="row">
                                <div class="col-md-12 text-center capa-padre pt-2 pb-2">
                                    <a class="txt-blue bold">@parent.Name</a>
                                </div>
                            </div>


                            var children = Model.Layers.Where(t => t.ParentID == parent.ProjectLayerID).OrderBy(t => t.Row).ToList();

                            int rows = (children.Count / 3);
                            if (children.Count % 3 != 0)
                            {
                                rows++;
                            }

                            int idx = 0;
                            for (int i = 0; i < rows; i++)
                            {
                                <div class="row">
                                    @{
                                        for (int x = 0; x < 3; x++)
                                        {
                                            try
                                            {
                                                if (@children[idx].ProjectLayerID != null)
                                                {
                                                    string cssClass = "";
                                                    string tooltipTitle = "";

                                                    switch (@children[idx].Status)
                                                    {
                                                        case 1:
                                                            cssClass = "fas fa-circle in-color-green";
                                                            tooltipTitle = Localizer["EnumProjectElementStatus_1"].ToString();
                                                            break;

                                                        case 2:
                                                            cssClass = "fas fa-circle in-color-yellow";
                                                            tooltipTitle = Localizer["EnumProjectElementStatus_2"].ToString();
                                                            break;

                                                        case 3:
                                                            cssClass = "fas fa-circle in-color-red";
                                                            tooltipTitle = Localizer["EnumProjectElementStatus_3"].ToString();
                                                            break;

                                                        case 4:
                                                            cssClass = "fas fa-circle in-color-gray";
                                                            tooltipTitle = Localizer["EnumProjectElementStatus_4"].ToString();
                                                            break;

                                                        default:
                                                            break;
                                                    }

                                                    <div class="col-sm text-center capa-hijo pt-2 pb-2">
                                                        <div class="col-md-12" data-toggle="tooltip" title="@tooltipTitle">
                                                            <i class="@cssClass"></i>
                                                        </div>
                                                        <a href="/Execution/Evidences?id=@Model.ProjectID&layerId=@children[idx].ProjectLayerID" class="txt-blue">@children[idx].Name</a>
                                                    </div>
                                                }

                                            }
                                            catch (Exception)
                                            {
                                            }

                                            idx++;
                                        }
                                    }
                                </div>
                            }


                        }

                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/core/vExecuteLayers.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.mask.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap-datetimepicker.js" asp-append-version="true"></script>

    @if (lng == null || lng == "es-MX")
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
    }
}