@model PMCTool.Models.Environment.Program

@{
    var lng = Context.Request.Cookies["pmctool-lang-app"];
}

@Html.Hidden("Loading", Localizer["Loading"].ToString())
@Html.Hidden("January", Localizer["January"].ToString())
@Html.Hidden("February", Localizer["February"].ToString())
@Html.Hidden("March", Localizer["March"].ToString())
@Html.Hidden("April", Localizer["April"].ToString())
@Html.Hidden("May", Localizer["May"].ToString())
@Html.Hidden("June", Localizer["June"].ToString())
@Html.Hidden("July", Localizer["July"].ToString())
@Html.Hidden("August", Localizer["August"].ToString())
@Html.Hidden("September", Localizer["September"].ToString())
@Html.Hidden("October", Localizer["October"].ToString())
@Html.Hidden("November", Localizer["November"].ToString())
@Html.Hidden("December", Localizer["December"].ToString())
@Html.Hidden("Sunday", Localizer["Sunday"].ToString())
@Html.Hidden("Monday", Localizer["Monday"].ToString())
@Html.Hidden("Tuesday", Localizer["Tuesday"].ToString())
@Html.Hidden("Wednesday", Localizer["Wednesday"].ToString())
@Html.Hidden("Thursday", Localizer["Thursday"].ToString())
@Html.Hidden("Friday", Localizer["Friday"].ToString())
@Html.Hidden("Saturday", Localizer["Saturday"].ToString())
@Html.Hidden("Export", Localizer["Export"].ToString())
@Html.Hidden("Import", Localizer["Import"].ToString())
@Html.Hidden("From", Localizer["From"].ToString())
@Html.Hidden("To", Localizer["To"].ToString())
@Html.Hidden("Zoom", Localizer["Zoom"].ToString())
@Html.Hidden("ViewFullScreen", Localizer["ViewFullScreen"].ToString())
@Html.Hidden("ExitFullScreen", Localizer["ExitFullScreen"].ToString())
@Html.Hidden("DownloadImage", Localizer["DownloadImage"].ToString())
@Html.Hidden("Print", Localizer["Print"].ToString())
@Html.Hidden("Reload", Localizer["Reload"].ToString())
@Html.Hidden("Year", Localizer["Year"].ToString())
@Html.Hidden("Month", Localizer["Month"].ToString())
@Html.Hidden("Week", Localizer["Week"].ToString())
@Html.Hidden("YTD", Localizer["YTD"].ToString())
@Html.Hidden("All", Localizer["All"].ToString())
@Html.Hidden("Start", Localizer["Start"].ToString())
@Html.Hidden("End", Localizer["End"].ToString())

@{
    string startDate = "---- -- --",
    endDate = "---- -- --",
    barColor = "";

    double realProgress = Math.Round(Model.Progress * 100, 2),
    expectedProgress = Math.Round(Model.PlannedProgress * 100, 2),
    Deviation = Math.Round(Model.Deviation * 100, 2);

    string sRealProgress = Math.Round(Model.Progress * 100, 2).ToString("N2") + "%",
    sExpectedProgress = Math.Round(Model.PlannedProgress * 100, 2).ToString("N2") + "%";

    if (Model.StartDate != null)
    {
        startDate = Model.StartDate.Value.ToString("yyyy-MM-dd");
    }

    if (Model.EndDate != null)
    {
        DateTime endDateClient = ((DateTime)Model.EndDate).AddDays(-1);
        endDate = endDateClient.ToString("yyyy-MM-dd");
    }

    switch (Model.Status)
    {
        case 1:
            barColor = "progress-bar bg-success progress-bar-striped progress-bar-animated";
            break;
        case 2:
            barColor = "progress-bar bg-warning progress-bar-striped progress-bar-animated";
            break;
        case 3:
            barColor = "progress-bar bg-danger progress-bar-striped progress-bar-animated";
            break;
        case 4:
            barColor = "progress-bar bg-secondary progress-bar-striped progress-bar-animated";
            break;
        default:
            break;
    }

}

@Html.HiddenFor(m => m.ProgramID)
@Html.Hidden("StartDate", startDate)
@Html.Hidden("EndDate", endDate)

<script src="https://code.highcharts.com/gantt/highcharts-gantt.js" asp-append-version="true"></script>
<script src="https://code.highcharts.com/gantt/modules/exporting.js" asp-append-version="true"></script>

<div class="content">
    <div class="container-fluid flex-grow-1 container-p-y">
        <div class="row card mt-2">
            <div class="col-md-12 p-5">
                <div class="row">
                    <div class="col-md-10 pt-2">
                        <small class="font-weight-normal bold"><b>@Localizer["Program"]</b></small>
                        <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                            <span class="txt-blue"> @Model.Name	</span>
                        </h4>
                    </div>
                    <div class="col-md-2 text-right">
                        <a href="/Execution/Programs" class="btn btn-sm btn-default  btn-outline"><i class="fas fa-long-arrow-alt-left"></i> @Localizer["Back"]</a>
                    </div>

                </div>
                <div class="row pt-3 mb-2">
                    <div class="col-md-5 pt-4">
                        <div class="media align-items-center font-weight-bold py-3 mb-1">
                            @{
                                if (!string.IsNullOrWhiteSpace(ViewBag.CompanyLogo))
                                {
                                    <img src="@ViewBag.CompanyLogo" alt="" class="ui-w-50 rounded">
                                }
                                else
                                {
                                    <img src="~/images/avatar/companies/default-avatar.png" alt="" class="ui-w-50 rounded">
                                }

                            }
                            <div class="media-body ml-3">
                                <div class="mb-0 mt-1 txt-blue fontsize11">@Model.CompanyName</div>
                                <div class="text-muted text-tiny mt-1">
                                    @{
                                        string coName = ViewBag.CompanyCity;

                                        if (!string.IsNullOrWhiteSpace(ViewBag.CompanyState))
                                        {
                                            coName = coName + ", " + ViewBag.CompanyState;
                                        } 

                                        if (!string.IsNullOrWhiteSpace(ViewBag.CompanyCountry))
                                        {
                                            coName = coName + ", " + ViewBag.CompanyCountry;
                                        }
                                    }
                                    <div class="font-weight-normal">@coName</div>
                                </div>
                            </div>
                        </div>
                        <div class=" text-tiny mt-0">@Localizer["Sponsor"]: <a href="#" onclick="getParticipantInfoModal('@Model.SponsorID'); return false;" class="underline-link">@Model.SponsorName</a> </div>
                        <div class=" text-tiny mt-0">@Localizer["Leader"]: <a href="#" onclick="getParticipantInfoModal('@Model.LeaderID'); return false;" class="underline-link">@Model.LeaderName</a> </div>
                        <div class=" text-tiny mt-0">@Localizer["ProjectManager"]: <a href="#" onclick="getParticipantInfoModal('@Model.ProjectManagerID'); return false;" class="underline-link">@Model.ProjectManagerName</a> </div>
                        <div class=" text-tiny mt-0">@Localizer["ProgramStartDate"]: <b>@startDate</b> </div>
                        <div class=" text-tiny mt-0">@Localizer["ProgramEndDate"]: <b>@endDate</b> </div>


                    </div>
                    <div class="col-md-7 mb-2 text-center pt-4">

                        <div class="row justify-content-md-center">

                            <div class="col-md-12 text-center txt-blue pb-3"><strong>@Localizer["ProgramProgress"].ToString().ToUpper()</strong></div>
                            <hr class="mt-2 mb-2">
                            <div class="col-md-8  text-center   px-4  text-left pb-3">
                                <div class="text-tiny mt-0">@Localizer["Status"]:<br> <span class="@Localizer["EnumProjectElementStatusClass_" + Model.Status]">@Localizer["EnumProjectElementStatus_" + Model.Status]</span></div>
                            </div>
                            <div class="col-md-8 text-center  small px-4  text-left">
                                <strong class="txt-blue"> @Localizer["RealProgress"] <span class="underline-link"> @realProgress.ToString("N2") %</span> </strong>
                                <div class="progress" style="height: 15px;">
                                    <div class="@barColor" style="width: @sRealProgress"></div>
                                </div>
                            </div>
                            <div class="col-md-8  text-center small px-4  text-left">
                                <strong class="txt-blue"> @Localizer["ExpectedProgress"] <span class="underline-link"> @expectedProgress.ToString("N2") %</span> </strong>
                                <div class="progress" style="height: 15px;">
                                    <div class="progress-bar bg-default  progress-bar-striped progress-bar-animated" style="width: @sExpectedProgress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 h-100 justify-content-cente">
                    <div class="row">

                        <div class="col-md-12 text-center txt-blue pb-3"><strong>@Localizer["Projects"].ToString().ToUpper()</strong></div>

                    </div>
                    <center>
                        <div id="chart_div" style="width: 100%"></div>
                    </center>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript" src="~/js/core/vExecuteProgram.js" asp-append-version="true"></script>

    @if (lng == null || lng == "es-MX")
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
    }
}