@model List<PMCTool.Models.Environment.ProjectIndicator>

@Html.Hidden("EnumExecProjectSort_1", Localizer["EnumExecProjectSort_1"].ToString())
@Html.Hidden("EnumExecProjectSort_2", Localizer["EnumExecProjectSort_2"].ToString())
@Html.Hidden("EnumExecProjectSort_3", Localizer["EnumExecProjectSort_3"].ToString())
@Html.Hidden("EnumExecProjectSort_4", Localizer["EnumExecProjectSort_4"].ToString())

<link rel="stylesheet" href="~/css/detalle-actividad.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/indicadores.css" asp-append-version="true" />
<link href="~/lib/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />

<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <form name="frmMain" method="post">
                @Html.Hidden("sortID")
                <div class="container-fluid flex-grow-1 container-p-y">
                    <div class="card mt-2">
                        <div class="row justify-content-md-center mb-4">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12 text-left pl-0 pr-0">
                                        <h4 class="d-flex flex-wrap justify-content-between align-items-center w-100 font-weight-bold">  @Localizer["Projects"]  </h4>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" id="search" class="form-control" placeholder="@Localizer["SearchProjects"]">
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn btn-outline dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @{
                                                    if (ViewBag.Sort == 0)
                                                    {
                                                        @Localizer["Sort"];
                                                    }
                                                    else
                                                    {
                                                        @Localizer["EnumExecProjectSort_" + ViewBag.Sort];
                                                    }
                                                }
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="javascript:sortData(1);">@Localizer["EnumExecProjectSort_1"]</a>
                                                <a class="dropdown-item" href="javascript:sortData(2);">@Localizer["EnumExecProjectSort_2"]</a>
                                                <a class="dropdown-item" href="javascript:sortData(3);">@Localizer["EnumExecProjectSort_3"]</a>
                                                <a class="dropdown-item" href="javascript:sortData(4);">@Localizer["EnumExecProjectSort_4"]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @{

                                    int pages = 1;
                                    int ipp = 5;
                                    double parse = Model.Count / 5.00;

                                    if (parse > 0)
                                    {
                                        pages = (int)parse;
                                        if ((parse - pages) > 0)
                                        {
                                            pages++;
                                        }
                                    }

                                    @Html.Hidden("TotalPages", pages)

                                    for (int i = 1; i <= pages; i++)
                                    {
                                        string id = "dvPage_" + i.ToString();
                                        int finish = (ipp * i) - 1;
                                        int start = 0;

                                        if (i > 1)
                                        {
                                            start = (finish + 1) - ipp;
                                        }

                                        <div id="@id" class="page" style="display:none;">

                                            @for (int x = start; x <= finish; x++)
                                            {
                                                try
                                                {
                                                    if (Model[x].ProjectID != null)
                                                    {

                                                        string startDate = "---- -- --",
                                                            endDate = "---- -- --",
                                                            barColor = "";

                                                        string realProgress = Model[x].RealProgress.ToString() + "%",
                                                            expectedProgress = Model[x].ExpectedProgress.ToString() + "%",
                                                            Deviation = Model[x].Deviation.ToString() + "%";

                                                        if (Model[x].StartDate != null)
                                                        {
                                                            startDate = Model[x].StartDate.Value.ToString("yyyy-MM-dd");
                                                        }

                                                        if (Model[x].EndDateClient != null)
                                                        {
                                                            endDate = Model[x].EndDateClient.Value.ToString("yyyy-MM-dd");
                                                        }

                                                        switch (Model[x].Status)
                                                        {
                                                            case 1:
                                                                barColor = "progress-bar bg-success progress-bar-striped progress-bar-animated";
                                                                break;
                                                            case 2:
                                                                barColor = "progress-bar bg-warning progress-bar-striped progress-bar-animated";
                                                                break;
                                                            case 3:
                                                                barColor = "progress-bar bg-danger progress-bar-striped progress-bar-animated";
                                                                break;
                                                            case 4:
                                                                barColor = "progress-bar bg-secondary progress-bar-striped progress-bar-animated";
                                                                break;
                                                            default:
                                                                break;
                                                        }

                                                        <div class="row no-gutters align-items-center pb-2 pt-2  border row-single box">
                                                            <div class="col-md-12  px-4 pt-2">
                                                                <a href="~/Execution/Project?id=@Model[x].ProjectID" data-project="@Model[x].ProjectID" id="name" class="text-body font-weight-semibold name">@Model[x].ProjectName</a>
                                                                <br>
                                                                <div class="row">
                                                                    @{
                                                                        if (!string.IsNullOrWhiteSpace(Model[x].ParentName))
                                                                        {
                                                                            <div class="col-md-12"><small class="text-muted"><i class="fas fa-briefcase "></i> @Model[x].ParentName </small></div>
                                                                        }
                                                                    }
                                                                    <div class="col-md-8"><small class="text-muted"><i class="fas fa-building "></i> @Model[x].CompanyName </small></div>
                                                                    <div class="col-md-4 text-right">
                                                                        @{
                                                                            if (Model[x].Phase != 1 && Model[x].Status > 0)
                                                                            {
                                                                                <small class="text-muted"><i class="fas fa-traffic-light"></i> @Localizer["Status"]: <span class="@Localizer["EnumProjectElementStatusClass_" + Model[x].Status]">@Localizer["EnumProjectElementStatus_" + Model[x].Status]</span></small>
                                                                            }
                                                                        }
                                                                    </div>
                                                                    <div class="col-md-12 col-lg-4">
                                                                        <small class="text-muted">
                                                                            <i class="fas fa-calendar-alt"></i> @Localizer["StartDate"]:
                                                                            <strong class="txt-blue">@startDate</strong>
                                                                        </small>
                                                                    </div>
                                                                    <div class="col-md-12 col-lg-4">
                                                                        <small class="text-muted">
                                                                            <i class="fas fa-calendar-alt"></i> @Localizer["EndDate"]:
                                                                            <strong class="txt-blue">@endDate</strong>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-md-3 text-muted small px-4  text-center">
                                                                <strong class="txt-blue">% @Localizer["RealProgress"]</strong>
                                                                <br>@Model[x].RealProgress.ToString("N2") %
                                                                <div class="progress" style="height: 15px;">
                                                                    <div class="@barColor" style="width:@realProgress;"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-md-3 text-muted small px-4 text-center">
                                                                <strong class="txt-blue">% @Localizer["ExpectedProgress"]</strong>
                                                                <br> @Model[x].ExpectedProgress.ToString("N2") %
                                                                <div class="progress" style="height: 15px;">
                                                                    <div class="progress-bar bg-default progress-bar-striped progress-bar-animated" style="width:@expectedProgress;"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-md-3 text-muted small px-4  text-center">
                                                                @{
                                                                    if (Model[x].Phase != 1)
                                                                    {
                                                                        <strong class="txt-blue pb-4">% @Localizer["Deviation"]</strong>
                                                                        <br> @Model[x].Deviation.ToString("N2")
                                                                        <br>
                                                                    }
                                                                    @*if (Model[x].Status == 5)
                                                                        {
                                                                            <a class="btn btn-link btn-danger" data-toggle="tooltip" title="@Localizer["Archive"]" onclick="javascript:archiveProject('@Model[x].ProjectID')"><i class="fas fa-ban"></i></a>
                                                                        }*@
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                catch (Exception ex)
                                                {

                                                }
                                            }

                                        </div>
                                    }
                                }

                                <hr>
                                <div id="show_paginator"></div>
                                @*<nav>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:goToPage(1);">«</a>
                                            </li>

                                            @for (int i = 1; i <= pages; i++)
                                            {
                                                string id = "pagelink_" + i.ToString();

                                                if (i == 1)
                                                {
                                                    <li class="page-item active" id="@id">
                                                        <a class="page-link" href="javascript:goToPage(@i);">@i</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="page-item" id="@id">
                                                        <a class="page-link" href="javascript:goToPage(@i);">@i</a>
                                                    </li>
                                                }
                                            }

                                            <li class="page-item">
                                                <a class="page-link" href="javascript:goToPage(@pages); return false;">»</a>
                                            </li>
                                        </ul>
                                    </nav>*@
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.bootpag.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/core/vExecuteProjects.js" asp-append-version="true"></script>
}