@{
    string id = ViewBag.ProjectId.ToString();
    @Html.Hidden("ProjectId", id);

    var lng = Context.Request.Cookies["pmctool-lang-app"];
}
<link href="~/lib/dhtmlxgantt-7.0.2/dhtmlxgantt.css" rel="stylesheet" />
<link href="~/css/pmctool_gantt.css" rel="stylesheet" rel="stylesheet" />
<link href="~/lib/dhtmlxgantt-7.0.2/skins/dhtmlxgantt_material.css" rel="stylesheet" />
<link href="~/css/style-gantt.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/vTemplesGantt.css" rel="stylesheet"  asp-append-version="true" />
@*<script type="text/javascript" src="~/lib/dhtmlxgantt-7.0.2/custom/zoom.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/dhtmlxgantt-7.0.2/custom/zoom_to_fit.js" asp-append-version="true"></script>*@
@*<script type="text/javascript" src="~/lib/dhtmlxgantt-7.0.2/custom/slack.js" asp-append-version="true"></script>*@
<script type="text/javascript" src="~/lib/dhtmlxgantt-7.0.2/custom/zoom_segment.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/lib/dhtmlxgantt-7.0.2/dhtmlxgantt.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/lib/dhtmlxgantt-7.0.2/custom/cTempletesIndent.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/core/vTempletesGanttCustom.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/core/vTemplatesGantt.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/core/vTempletesGanttMenus.js" asp-append-version="true"></script>

@Html.Hidden("StartDate", Localizer["StartDate"].ToString())
@Html.Hidden("EndDate", Localizer["EndDate"].ToString())

@{
    if (lng == null || lng == "es-MX")
    {
        @*<script type="text/javascript" src="~/js/plugins/locale_mx.js" charset="utf-8"></script>*@
        <script type="text/javascript">
            gantt.i18n.setLocale("es");
        </script>

    }
    else
    {
        <script>
            gantt.config.date_format = "%m-%d-%Y %H:%i";
        </script>
    }
} 

<div class="content pl-0 pr-0 pt-0">
    <div class="container-fluid  pl-1 pr-0">
        <div class="col-md-12 card pl-1 pr-1">
            <div class="row">
                <div class="col-md-10 pt-4 mb-4">
                    <small class="font-weight-normal subtitle-detalle"><b>Plantilla</b></small>
                    <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                        <span class="txt-blue">  @ViewBag.TempleteName	</span>
                    </h4>
                </div>
                <div class="col-md-2 text-right pt-2">
                    <a href="/Templates/Index" class="btn btn-sm btn-default  btn-outline"><i class="fas fa-long-arrow-alt-left"></i> @Localizer["Back"]</a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-right">

                    <div class="cp">
                        <div id="gantt_menu" class="header gantt-demo-header">
                            <ul class="gantt-controls">
                                <li class="gantt-menu-item">
                                    <a onclick="collapseAll()" data-toggle="tooltip" data-html="true" title="Contraer"><img src="~/images/gantt/ic_collapse_all_24.png"> </a>
                                </li>
                                <li class="gantt-menu-item gantt-menu-item-last"><a onclick="expandAll()" data-toggle="tooltip" data-html="true" title="Expandir"><img src="~/images/gantt/ic_expand_all_24.png"> </a></li>
                                <!-- Indentar tools-->
                                <li class="gantt-menu-item">
                                    <a href="#" class="_actionsIndent" name="indent" data-action="Indent" data-toggle="tooltip" data-html="true" title="<b>Indentar</b> tarea"><img src="~/images/gantt/indent1.svg" class="icon-bar"></a>
                                </li>
                                <li class="gantt-menu-item">
                                    <a href="#" class="_actionsIndent" name="outdent" data-action="Outdent" data-toggle="tooltip" data-html="true" title="<b>Desindentar</b> tarea"><img src="~/images/gantt/indent2.svg" class="icon-bar"></a>
                                </li>

                                <li class="gantt-menu-item gantt-menu-item-right">
                                    <a><img src="~/images/gantt/ic_zoom_in.png">Zoom</a>
                                    <ul class="gantt-controls">
                                        <li class="gantt-menu-item"><a data-action="trplweek" onclick="zoomIn();"><img src="~/images/gantt/ic_zoom_in.png">@Localizer["Acercar"]</a></li>
                                        <li class="gantt-menu-item"><a data-action="year" onclick="zoomOut();"><img src="~/images/gantt/ic_zoom_out.png">@Localizer["Alejar"]</a></li>
                                    </ul>
                                </li>
                                <li class="gantt-menu-item gantt-menu-item-right"><a onclick="fullscreenGantt();"><img src="~/images/ic_fullscreen_24.png" data-toggle="tooltip" data-html="true" title="" data-original-title="Ver <b>pantalla completa</b>">@Localizer["FullScreen"]</a></li>

                            </ul>
                        </div>
                        <div id="gantt" style="width: 100%; height: 100vh;"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts {
}
