@using Microsoft.AspNetCore.Components;
@model dynamic;
@{
    ViewData["Title"] = "Detalle de indicardores de proyecto";
    Layout = "_Layout"; 
        var Code = "";
        var Name =  ""; 
        double? CPI = null;  
        double? SPI = null;  
        double? BAC = null;  
        double? EAC = null;  
        double? VAC = null;  
        var EndDate =  "";  
        var ProjectedDate =  "";   
        @foreach (var row in Model.Indicators)
        {
              Code = @row.Code; 
              Name = @row.Name; 
              CPI = @row.CPI; 
              SPI = @row.SPI; 
              BAC = @row.BAC; 
              EAC = @row.EAC; 
              VAC = @row.VAC; 
              EndDate = @row.EndDate; 
              ProjectedDate = @row.ProjectedDate; 
                break;
    
        }

<script type="text/javascript">
    const dataReport = [];
    const ProjectName = "@Name";
    @foreach (var d in Model.Chart)
        {
            @:dataReport.push({"month":"@d.Month","anio":"@d.Anio","ac":"@d.AC","pc":"@d.ETC","av":"@d.AFRP","prc":"@d.AFRPMC","pv":"@d.PV"});
        } 

</script>   
<div class="content">
    <div class="container-fluid">
        <div class="row card">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 pt-4">
                        <small class="font-weight-normal">Analytics</small>
                        <h4 class="Chapala align-items-center font-weight-bold  mb-0 mt-0">
                            <span style="color: #235b4e !important;"> Detalle de indicardores de proyecto	</span>
                        </h4>
                        <small class="font-weight-normal">Proyecto</small>
                        <h4 class="mt-1 font-weight-bold">
                            @Name
                        </h4>
                    </div>
                    <div class="col-md-2 text-right pt-2">
                        @*<a href="/ProjectIndicators/Index" class="btn btn-sm btn-default  btn-outline"><i class="fas fa-long-arrow-alt-left"></i> Regresar</a>*@
                    </div>

                </div>
            </div>
            
            <div class="col-md-12" id="divContainer" style="">
                <div id="divFichaTecnicaProyecto">
                    <div class="row justify-content-center mt-4">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body ">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            
                                                @{
                                                        if (@Name!="")
                                                        {
                                                            <figure class="highcharts-figure">
                                                             <div id="inversion"></div>
                                                            </figure>
                                                        }
                                                        else
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-12 text-center pb-3"><h3 style="font-weight: 500;">No hay dados del proyecto</h3></div>
                                                            </div> 
                                                        }
                                                }
                                             
                                        </div>
                                        <div class="col-8">
                                             @{
                                                        if (@Name!="")
                                                        {
                                                            <table class="table table-hover table-striped tbimpact">
                                                            <thead>
                                                                <tr>
                                                                    <th class="bg-table-green" data-toggle="tooltip" data-placement="top" title="Índice de desempeño de costo respecto al plan">CPI</th>
                                                                    <th class="bg-table-green" data-toggle="tooltip" data-placement="top" title="Índice de desempeño respecto al avance físico">SPI</th>
                                                                    <th class="bg-table-green" data-toggle="tooltip" data-placement="top" title="Presupuesto total planeado">BAC </th>
                                                                    <th class="bg-table-green" data-toggle="tooltip" data-placement="top" title="Presupuesto proyectado para concluir">EAC </th>
                                                                    <th class="bg-table-green" data-toggle="tooltip" data-placement="top" title="Variación de costo proyectado para concluir">VAC </th>
                                                                    <th class="bg-table-green">Fecha Final </th>
                                                                    <th class="bg-table-green">Fecha Proyectada </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody> 
                                                                <tr>
                                                                    <td class="indicadores-danger">@CPI</td>
                                                                    <td class="indicadores-danger">@SPI</td>
                                                                    <td class="indicadores-danger">@BAC</td>
                                                                    <td class="indicadores-danger">@EAC</td>
                                                                    <td class="indicadores-warning">@VAC</td>
                                                                    <td>@EndDate</td>
                                                                    <td>@ProjectedDate</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        } 
                                                }
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/9.1.2/highcharts.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/9.1.2/modules/exporting.src.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/9.1.2/modules/exporting.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/9.1.2/modules/export-data.min.js" type="text/javascript"></script>
    <script src="~/js/core/vProjectsIndicatorsDetail.js" asp-append-version="true"></script>
}
 