
@model PMCTool.Models.Environment.ProjectLayer

@Html.HiddenFor(m => m.ProjectID)
@Html.HiddenFor(m => m.ProjectLayerID)

@Html.Hidden("AreYouSureDelete", Localizer["AreYouSureDelete"].ToString())
@Html.Hidden("Cancel", Localizer["Cancel"].ToString())
@Html.Hidden("Accept", Localizer["Accept"].ToString())
@Html.Hidden("Active", Localizer["Active"].ToString())
@Html.Hidden("Inactive", Localizer["Inactive"].ToString())
@Html.Hidden("Edit", Localizer["Edit"].ToString())
@Html.Hidden("Delete", Localizer["Delete"].ToString())
@Html.Hidden("SubLayers", Localizer["SubLayers"].ToString())

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-md-5 pt-4">
                                <small class="font-weight-normal bold">@Localizer["Project"]</small>
                                <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                                    <span class="txt-blue"> @Model.ProjectName?.ToUpper()</span>
                                </h4>
                            </div>
                            <div class="col-md-5 pt-4">
                                <small class="font-weight-normal bold">@Localizer["Layer"]</small>
                                <h4 class="media align-items-center font-weight-bold  mb-0 mt-0">
                                    <span class="txt-blue"> @Model.Name?.ToUpper()</span>
                                </h4>
                            </div>

                            <div class="col-md-2 text-right pt-2">
                                <a href="/ProjectManager/Layers?id=@Model.ProjectID" class="btn btn-sm btn-default  btn-outline"><i class="fas fa-arrow-left"></i> @Localizer["Back"]</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="frmMain">
                            <div class="container-fluid">
                                <div class="card-header pl-0">
                                    <div class="card-header d-sm-flex align-items-start justify-content-between pl-0">
                                        <h6 class="lh-5 mg-b-0">@Localizer["CreateSubLayer"] </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 ">
                                        <div class="form-group  mb-1">
                                            <label class="control-label">@Localizer["Name"]</label><star class="star">*</star>
                                            <input class="form-control" type="text" id="LayerName" name="LayerName" maxlength="300" required>
                                        </div>
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="form-group  mb-1">
                                            <label class="control-label">@Localizer["Description"]</label>
                                            <input class="form-control" type="text" id="LayerDescription" name="LayerDescription" maxlength="1500">
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-4">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <a href="#" class="btn btn-default pull-right" id="btnCreate" onclick="create('ProjectLayers'); return false;">@Localizer["Create"]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header ">
                        <div class="card-header d-sm-flex align-items-start justify-content-between">
                            <h6 class="lh-5 mg-b-0"> @Localizer["OrderSubLayer"] </h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul id="sortable" class="list-group list-unstyled">
                                    </ul>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-4">
                                <div class="col-md-12">
                                    <div class="form-group text-right">
                                        <button type="button" id="btnSave" onclick="updateBatch('ProjectLayers'); return false;" class="btn btn-default btn-fill">@Localizer["Save"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-4">@Localizer["UpdateSubLayer"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pt-1">
                <form id="frmMainModal">
                    @Html.Hidden("LayerID")
                    @Html.Hidden("LayerRow")
                    @Html.Hidden("LayerCell")
                    <div class="form-group  mb-1">
                        <label class="control-label">@Localizer["Name"]</label><star class="star">*</star>
                        <input class="form-control" type="text" id="LayerNameModal" name="LayerNameModal" maxlength="300" required>
                    </div>
                    <div class="form-group mb-1">
                        <label class="control-label">@Localizer["Description"]</label>
                        <input class="form-control" type="text" id="LayerDescriptionModal" name="LayerDescriptionModal" maxlength="1500">
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">@Localizer["Cancel"]</button>
                        <button type="button" id="btnUpdate" onclick="update('ProjectLayers'); return false;" class="btn btn-default btn-fill">@Localizer["Update"]</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <script type="text/javascript" src="~/js/core/vProjectManagerLayer.js" asp-append-version="true"></script>
}
