@model dynamic;
@{
    Layout = "_LayoutReportSct";
    ViewData["Title"] = "FICHA DE PROYECTO";
}
@{
    var chartImage = ViewBag.ProjectID + ".jpg";
    var ProjectName = "";
    var Benefit = "";
    var Scope = "";
    var KeyDecisions = "";
    var DirectJobsGenerated = "";
    var IndirectJobsGenerated = "";
    var RelevantMilestones = "";
    var Promoter = "";
    var Advertisement = "";
    var ProblemToSolve = "";
    var Tdpa = "";
    var Logo = "";
    var chartEstatal = "";
    var chartPrivada = "";
    var chartFonden = "";
    var chartPef = "";
    var chartFonadin = "";
    string imagenA = "";
    string imagenB = "";

    @foreach (var row in Model.tabsheet)
    {
        ProjectName = @row.ProjectName;
        Benefit = @row.Benefit;
        Scope = @row.Scope;
        KeyDecisions = @row.KeyDecisions;
        DirectJobsGenerated = @row.DirectJobsGenerated;
        IndirectJobsGenerated = @row.IndirectJobsGenerated;
        RelevantMilestones = @row.RelevantMilestones;
        Promoter = @row.Promoter;
        Advertisement = @row.Advertisement;
        ProblemToSolve = row.ProblemToSolve;
        Tdpa = @row.Tdpa;
        Logo = @row.Logo;
        chartEstatal = @row.chartEstatal;
        chartPrivada = @row.chartPrivada;
        chartFonden = @row.chartFonden;
        chartPef = @row.chartPef;
        chartFonadin = @row.chartFonadin;
        imagenA = "";
        if (string.IsNullOrEmpty(@row.imagenA))
        {
            imagenA = null;
        }
        else
        {
            imagenA = @row.imagenA;
        }
        imagenB = "";
        if (string.IsNullOrEmpty(@row.imagenB))
        {

            imagenB = null;
        }
        else
        {
            imagenB = @row.imagenB;
        }




        break;

    }
<style>
    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid-item1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .grid-item2 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .grid-item2 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .grid-item4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .grid-item5 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .grid-item6 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .grid-item7 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .grid-item8 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    .grid-item9 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 6;
    }

    .grid-item10 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 6;
    }

    .grid-item11 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 6;
    }
</style>

<div>
    <div class="col-md-12 grid-container">

        <table style="width: 100%">
            <tr>
                <td colspan="2">
                    <h4 class="mt-1 font-weight-bold">
                        @ProjectName
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="title-section">
                        <b>Beneficios</b>
                    </p>
                </td>
                <td>
                    <p class="title-section">
                        <b>Alcance</b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="400">
                    <p style="font-weight: 100 !important;">
                        @Benefit
                    </p>

                </td>
                <td width="400">

                    <p style="font-weight: 100 !important;">
                        @Scope
                    </p>

                </td>
            </tr>

            <tr>
                <td>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th rowspan="2" class="bg-table-green" style="text-align: center;">
                                    <h5 class="h5-responsive"><b>Empleos Generados</b></h5>
                                </th>
                                <td>
                                    <h6 class="h5-responsive"><b>Directos</b></h6>
                                </td>
                                <td>
                                    <h6 class="h5-responsive">@DirectJobsGenerated</h6>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 9px;">
                                    <h6 class="h5-responsive"><b>Indirectos</b></h6>
                                </td>
                                <td>
                                    <h6 class="h5-responsive">@IndirectJobsGenerated</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
                <td>
                    <p class="title-section">
                        <b>TDPA</b>
                    </p>
                    <p class="text-center info">
                        @Tdpa
                    </p>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p class="title-section">
                        <b>Problemática a resolver</b>
                    </p>
                    <p class="info">
                        @ProblemToSolve
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p class="title-section">
                        <b>Inversión</b>
                    </p>
                    <h3 class="text-responsive text-lg-center _totalmont">
                        
                    </h3>
                    <br>
                    <center>
                        <img src="~/images/chart/@chartImage" class="img-fluid" alt="Responsive image" asp-append-version="true">
                    </center>
                </td>
                <td>
                    <div class="col-md-12">
                        <p class="title-section">
                            <b>Licitación</b>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="arrow-steps clearfix">
                                @foreach (var item in Model.ProjectTask)
                                {
                                    string classActive = "";
                                    if (item.status == 4)
                                    {
                                        classActive = "current";
                                    }
                                    else
                                    {
                                        classActive = "";
                                    }
                                    <div class="step @classActive">
                                        <span>@item.text</span> <br>
                                        <span>@item.EndDateClient.ToString("yyyy-MM-dd")</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Actividades Previas a la Ejecución</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover table-striped tbimpact">
                                <thead>
                                    <tr>
                                        <th class="bg-table-green">Concepto</th>
                                        <th class="bg-table-green">Inicio</th>
                                        <th class="bg-table-green">Duración </th>
                                        <th class="bg-table-green">Estatus </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProjectEvidences)
                                    {
                                        <tr>
                                            <th> @item.Description</th>
                                            <td>  @item.StartDate</td>
                                            <td>  @item.Duration días</td>
                                            @{
                                                @if (@item.Status == 1)
                                                {
                                                    <td>
                                                        <span class="badge ws badge-success"><strong>En tiempo</strong></span>
                                                    </td>
                                                }
                                                @if (@item.Status == 2)
                                                {
                                                    <td>
                                                        <span class="badge ws badge-warning"><strong>Atrasado</strong></span>
                                                    </td>
                                                }
                                                @if (@item.Status == 3)
                                                {
                                                    <td>
                                                        <span class="badge ws badge-danger"><strong>Con impacto</strong></span>
                                                    </td>
                                                }
                                                @if (@item.Status == 4)
                                                {
                                                    <td>
                                                        <span class="badge ws badge-secondary"><strong>Terminado</strong></span>
                                                    </td>
                                                }

                                                @if (@item.Status == 5)
                                                {
                                                    <td>
                                                        <span class="badge ws st-cancelado">Cancelado</span>
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Promotor</b>
                            </p>
                            <p style="font-weight: bold;text-align: center;">
                                @Promoter

                            </p>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>

                <td colspan="2">
                    <div class="col-md-12">
                        <p class="title-section">
                            <b>Decisiones Claves</b>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p class="justify-text info">
                            @KeyDecisions
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="title-section">
                        <b>Hitos Relevantes</b>
                    </p>
                </td>
                <td>
                    <p class="title-section">
                        <b>Anuncios</b>
                    </p>
                </td>

            <tr>
                <td>
                    <p class="info">
                        @RelevantMilestones
                    </p>
                </td>
                <td>
                    <p class="info">@Advertisement</p>
                </td>
            </tr>
            </tr>
        </table>
        <div class="row pb-3">
            <div class="col-md-12 contentA">
                @if (imagenA != null)
                {
                    var imagenDB = imagenA.Split('|')[0];
                    <center>
                        <img src="/@imagenDB" class="img-fluid" alt="Responsive image" style="max-width:950px" asp-append-version="true">
                    </center>
                }

            </div>
            <div class="col-md-12 contentB">
                @if (imagenB != null)
                {
                    var imagenDB = imagenB.Split('|')[0];
                    <center>
                        <img src="/@imagenDB" class="img-fluid" alt="Responsive image" style="max-width:950px" asp-append-version="true">
                    </center>
                }
            </div>
        </div>
        <div class="row pb-3">


        </div>
    </div>
</div>
<script>
    totalmont =  @chartPrivada + @chartFonden +  @chartFonadin +  @chartEstatal + @chartPef;
    $('._totalmont').empty();
    $('._totalmont').html("$ "+totalmont+ " mdp");
</script>
}