@model dynamic;
@{
    var ProjectName = "";
    var Benefit = "";
    var Scope = "";
    var KeyDecisions = "";
    var DirectJobsGenerated = "";
    var IndirectJobsGenerated = "";
    var RelevantMilestones = "";
    var Promoter = "";
    var Advertisement = "";
    var ProblemToSolve = "";
    var Tdpa = "";
    var Logo = "";
    var chartEstatal = "";
    var chartPrivada = "";
    var chartFonden = "";
    var chartPef = "";
    var chartFonadin = "";

    @foreach (var row in Model.tabsheet)
    {
        ProjectName = @row.ProjectName;
        Benefit = @row.Benefit;
        Scope = @row.Scope;
        KeyDecisions = @row.KeyDecisions;
        DirectJobsGenerated = @row.DirectJobsGenerated;
        IndirectJobsGenerated = @row.IndirectJobsGenerated;
        RelevantMilestones = @row.RelevantMilestones;
        Promoter = @row.Promoter;
        Advertisement = @row.Advertisement;
        ProblemToSolve = row.ProblemToSolve;
        Tdpa = @row.Tdpa;
        Logo = @row.Logo;
        chartEstatal = @row.chartEstatal;
        chartPrivada = @row.chartPrivada;
        chartFonden = @row.chartFonden;
        chartPef = @row.chartPef;
        chartFonadin = @row.chartFonadin;


        break;

    }
    

    
    <div>
        <input type="hidden" id="ProjectIDx"  value="@ViewBag.ProjectID" /> 
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <small class="font-weight-normal">Proyecto</small>
                    <h4 class="mt-1 font-weight-bold">
                        @ProjectName
                    </h4>
                </div>
                <div class="col-md-3 text-right">
                    <a class="btn btn-round btn-sm  btn-danger" href="/FactSheetA/ProjectDetail?project=@ViewBag.ProjectSeleted">
                        <span class="btn-label">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>Detalle de Proyecto
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Beneficios</b>
                            </p>
                            <p>Reducción de los tiempos de viaje de 90 min a 50 min, se aumentará la seguridad del usuario y mejora de la operación del tramo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Alcance</b>
                            </p>
                            <p>
                                Ampliación a una sección tipo boulevard de 22 m. de ancho de corona, para alojar 4 carriles (2 por sentido y acotamientos laterales de 2.5 m) con carpeta asfáltica.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <th rowspan="2" class="bg-table-green" style="text-align: center;">
                                        <h5 class="h5-responsive"><b>Empleos Generados</b></h5>
                                    </th>
                                    <td><h6 class="h5-responsive"><b>Directos</b></h6></td>
                                    <td><h6 class="h5-responsive">1120</h6></td>
                                </tr>
                                <tr>
                                    <td><h6 class="h5-responsive"><b>Indirectos</b></h6></td>
                                    <td><h6 class="h5-responsive">510</h6></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="title-section">
                        <b>TDPA</b>
                    </p>
                    <p>
                        @Tdpa
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Problemática a resolver</b>
                            </p>
                            <p>
                                @ProblemToSolve
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Inversión</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-responsive text-lg-center">
                                $9265 mdp / FONADIN
                            </h3>
                            <p>
                                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                <canvas id="doughnut-chart" width="525" height="295" style="display: block; width: 525px; height: 295px;" class="chartjs-render-monitor"></canvas>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Licitación</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="arrow-steps clearfix">
                                @foreach (var item in Model.ProjectTask)
                                {
                                    string classActive = "";
                                    if (item.status == 4)
                                    {
                                        classActive = "current";
                                    }else{
                                        classActive = "";
                                    }
                                    <div class="step @classActive">
                                        <span>@item.text</span> <br>
                                        <span>@item.EndDateClient.ToString("yyyy-MM-dd")</span>
                                    </div>
                                    @*<div class="step">
                                    <span>Presentación de propuestas</span> <br>
                                    <span>20/05/2021</span>
                                </div>
                                <div class="step">
                                    <span>Apertura de propuestas</span> <br>
                                    <span>23/05/2021</span>
                                </div>
                                <div class="step current">
                                    <span>Fallo</span> <br>
                                    <span>30/05/2021</span>
                                </div>*@
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Actividades Previas a la Ejecución</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover table-striped tbimpact">
                                <thead>
                                    <tr>
                                        <th class="bg-table-green">Concepto</th>
                                        <th class="bg-table-green">Inicio</th>
                                        <th class="bg-table-green">Duración </th>
                                        <th class="bg-table-green">Estatus </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProjectEvidences)
                                    {
                                           <tr>
                                                <th> @item.Description</th>
                                                <td>  @item.StartDate</td>
                                                <td>  @item.Duration días</td>
                                                @{
                                                    @if (@item.Status == 1)
                                                    {
                                                        <td>
                                                            <span class="badge ws badge-success"><strong>En tiempo</strong></span>
                                                        </td>
                                                    }
                                                    @if (@item.Status == 2)
                                                    {
                                                        <td>
                                                            <span class="badge ws badge-warning"><strong>Atrasado</strong></span>
                                                        </td>
                                                    }
                                                    @if (@item.Status == 3)
                                                    {
                                                    <td>
                                                        <span class="badge ws badge-danger"><strong>Con impacto</strong></span>
                                                    </td>
                                                    }
                                                    @if (@item.Status == 4)
                                                    {
                                                        <td>
                                                            <span class="badge ws badge-secondary"><strong>Terminado</strong></span>
                                                        </td>
                                                    }

                                                    @if (@item.Status == 5)
                                                    {
                                                        <td>
                                                            <span class="badge ws st-cancelado">Cancelado</span>
                                                        </td>
                                                    }
                                                }
                                           </tr>
                                      }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="title-section">
                                <b>Promotor</b>
                            </p>
                            <p style="font-weight: bold;text-align: center;">
                                Gobierno del Estado de Chihuahua

                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="title-section">
                                <b>Detalle de etapa</b>
                            </p>
                            <table class="table table-hover table-striped tbimpact">
                                <thead>
                                    <tr>
                                        <th class="bg-table-green" style="border-right: 1px solid !important;">Etapa</th>
                                        <th class="bg-table-green" style="text-align:center; border-right: 1px solid;">Fecha Inicio</th>
                                        <th class="bg-table-green" style="text-align:center; display: table-cell; border-right: 1px solid;">Meses </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-weight: bold;">Ejecución</td>
                                        <td style="font-weight: bold;">Jun-2021</td>
                                        <td style="font-weight: bold;">12</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Operación</td>
                                        <td style="font-weight: bold;">Jun-2022</td>
                                        <td style="font-weight: bold;">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Decisiones Claves</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="justify-text">
                                1.- Aprobación de la manifestación de impacto ambiental jun-2021: SEMARNAT // 2.- Asignación de contrato y pago de anticipo 02 julio 2021: SCT // 3.-Concluir la liberación del derecho de vía: SEDATU
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Hitos Relevantes</b>
                            </p>
                            <p>
                                Ejecución 28 abril 21 Visto bueno SHCP: concluyó en enero 2021
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="justify-text">

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title-section">
                                <b>Anuncios</b>
                            </p>
                            <p>@Advertisement</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3"> 
                <div class="col-md-12 text-right">
                    @*<button class="btn btn-warning btn-sm btnmodalone" data-modal="1">Actualizar información 1</button>*@
                </div>
                <div class="col-md-12 contentA">
                     CONTENIDO IMG 1
                </div>
                <div class="col-md-12 text-right">
                    @*<button class="btn btn-warning btn-sm btnmodaltwo" data-modal="2">Actualizar información 2</button>*@
                </div>
                <div class="col-md-12 contentB">
                     CONTENIDO IMG 2
                </div>
            </div>
            <div class="row pb-3">
                 
                 
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalimgOne" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card horizontal-form" style="border:none;">
                        <div class="card-body ">
                            <form id="formimgOne"> 
                                <div class="form-group">
                                    <label>@Localizer["Logo"]</label>
                                    @Html.TextBox("Image", "", new { @id = "Image", @class = "form-control", @style = "", type = "file", @required = "required", accept = "image/*" })
                                </div> 
                                <div class="card-footer text-right">
                                    <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">@Localizer["Cancel"]</button>
                                    <button type="button" id="btnUpload" onclick="factSheetA.uploadImgOne(); return false;" class="btn btn-default btn-fill">@Localizer["Upload"]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="modalimgTwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card horizontal-form" style="border:none;">
                        <div class="card-body ">
                            <form id="formimgTwo"> 
                                <div class="form-group">
                                    <label>@Localizer["Logo"]</label>
                                    @Html.TextBox("Image", "", new { @id = "ImageTwo", @class = "form-control", @style = "", type = "file", @required = "required", accept = "image/*" })
                                </div> 
                                <div class="card-footer text-right">
                                    <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">@Localizer["Cancel"]</button>
                                    <button type="button" id="btnUpload" onclick="factSheetA.uploadImgTwo(); return false;" class="btn btn-default btn-fill">@Localizer["Upload"]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
                               if (typeof variable === 'undefined') {
                                   let totalmont = 0;
                                }
                                totalmont =  @chartPrivada + @chartFonden +  @chartFonadin +  @chartEstatal + @chartPef;
                                $('._totalmont').empty();
                                $('._totalmont').html("$ "+totalmont+ " mdp");
                              new Chart(document.getElementById("doughnut-chart"), {
                                  type: 'doughnut',
                                  data: {
                                      labels: ["Privados", "Fonden", "Fonadin", "Estatal", "PEF"],
                                      datasets: [
                                          {
                                              backgroundColor: ["#330101", "#8B0000", "#D2B48C", "#FFE4C4"],
                                              data: [
                                                Math.round(@chartPrivada * 100/ totalmont ),
                                                Math.round(@chartFonden * 100 / totalmont ),
                                                Math.round(@chartFonadin * 100/ totalmont ),
                                                Math.round(@chartEstatal * 100/ totalmont ),
                                                Math.round(@chartPef * 100/ totalmont )
                                              ]
                                          }
                                      ]
                                  },
                                  options: {
                                      legend: { position: 'bottom' }
                                  }
                              });
                              if (factSheetA.getUrlParameter('projectid')) {
                                      let pp = factSheetA.getUrlParameter('projectid');
                                        $('#project').val("'" + pp + "'");
                                        $('#project').prop('disabled', true);
                                        $('#project').selectpicker('refresh');
                                }
    </script>
 
    <script>
        new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
                labels: ["PEF", "FONADIN", "FONDEN", "Estatal", "Privado"],
                datasets: [
                    {
                        backgroundColor: ["#235b4e", "#330101", "#8b0000", "#d2b48c", "#ffe4c4"],
                        data: [Math.round(7),
                        Math.round(4),
                        Math.round(1),
                        Math.round(2),
                        Math.round(4)
                        ]
                    }
                ]
            },
            options: {
                legend: { position: 'bottom' }
            }
        });
        factSheetA.addEventOpenModals();
    </script>
}