@using Microsoft.AspNetCore.Components;
@using PMCTool.App.Helpers.Html;

@model dynamic;
@{ 
    ViewData["Title"] = "DETALLE FICHA DE PROYECTO";
    Layout = "_LayoutReportSct";
        var ProjectName = "";
        var Benefit =  "";
        var Scope =  ""; 
        var KeyDecisions =  "";  
        var DirectJobsGenerated =  "";  
        var IndirectJobsGenerated =  "";  
        var RelevantMilestones =  "";  
        var Promoter =  "";  
        var Logo =  "";  
        var ActionsToBeTaken =  "";  
        var chartEstatal =  "";  
        var chartPrivada =  "";  
        var chartFonden =  "";  
        var chartPef =  "";  
        var chartFonadin =  "";  
        @foreach (var row in Model.Project)
        {
              ProjectName = @row.ProjectName;
              Benefit = @row.Benefit;
              Scope = @row.Scope;
              KeyDecisions = @row.KeyDecisions;
              DirectJobsGenerated = @row.DirectJobsGenerated;
              IndirectJobsGenerated = @row.IndirectJobsGenerated;
              RelevantMilestones = @row.RelevantMilestones;
              Promoter = @row.Promoter;
              Logo = @row.Logo;
              ActionsToBeTaken = @row.ActionsToBeTaken;
              chartEstatal =@row.chartEstatal;
              chartPrivada = @row.chartPrivada; 
              chartFonden = @row.chartFonden;
              chartPef = @row.chartPef; 
              chartFonadin = @row.chartFonadin;

             
                break;
    
        }
         
  <div class="content">
        <div class="container-fluid">
            <div class="row card">
                     
                      <div class="col-md-12" id="divContainer" style=""> 
                        <div id="divFichaTecnicaProyecto">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9">
                                       <small class="font-weight-normal">Proyecto</small>
                                       <h4 class="mt-1 font-weight-bold"> 
                                          @ProjectName
                                       </h4>
                                    </div>
                                     
                                 </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <p class="title-section">
                                                <b>Resumen ejecutivo de elementos</b>
                                             </p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!---->
                                 <div class="row">
                                    <div class="col-md-12">
                                    @if(Model.Evidences.Count > 0)
                                    {
                                        <table class="table-striped" style="    width: 99%;">
                                              <thead>
                                                 <tr style="background-color: #9F2241; color: white;">
                                                    <th style="padding: 5px;font-weight: normal !important;">Tipo</th>
                                                    <th style="padding: 5px;font-weight: normal !important;">Evidencia</th>
                                                    <th style="padding: 5px;font-weight: normal !important;">Estatus</th>
                                                    <th style="padding: 5px;font-weight: normal !important;">Fecha de Obtención</th>
                                                    <th style="padding: 5px;font-weight: normal !important;">Dependencia/Área que expide/autoriza</th>
                                                    <th style="padding: 5px;font-weight: normal !important;">Aspectos Relevantes/Comentarios</th>
                                                 </tr>
                                              </thead>
                                              <tbody> 
                                                  @foreach (var r in Model.Evidences)
                                                    { 
                                                  <tr>
                                                      <th scope="row">@r.ProjectLayerName</th>
                                                      <td><a class="aclick" data-evidence="@r.ProjectEvidenceID">@r.Description</a></td>
                                                      @{

                                                          string date = "";
                                                          if (@r.Status == 4)
                                                          {
                                                              date = r.RealEndDate;
                                                          }
                                                          else
                                                          {

                                                              date = r.PlannedEndDate;
                                                          }
                                                          @switch (@r.Status)
                                                          {
                                                              case 1:
                                                                  <td><span class="bold ws st-entiempo ws">En tiempo</span></td>

                                                                  break;
                                                              case 2:
                                                                  <td><span class="bold st-atrasado ws">Atrasado</span></td>

                                                                  break;
                                                              case 3:
                                                                  <td><span class="bold ws st-cimpacto ws">Con impacto</span></td>

                                                                  break;
                                                              case 4:
                                                                  <td><span class="bold ws st-cerrado ws">Terminado</span></td>

                                                                  break;
                                                              case 5:
                                                                  <td><span class="bold ws st-cancelado  ws">Cancelado</span></td>

                                                                  break;
                                                              case 6:
                                                                  <td><span class="bold ws st-suspendido ws">Archivado</span></td>

                                                                  break;
                                                          }
                                                      }
                                                      <td>@date</td>
                                                      <td>@r.CompanyName</td>
                                                      <td>@r.Comment</td>
                                                  </tr>

                                                    @foreach(var t in Model.ControlPoints)
                                                    {
                                                        @if (r.ProjectEvidenceID == t.ProjectEvidenceID)
                                                        {
                                                            <tr>
                                                                <th scope='row' style="text-align: center;">
                                                                    <img src="/images/arrow2.png" style="transform: rotate(269deg);width: 39px;top: 0px;">
                                                                </th>
                                                                <td colspan="5">
                                                                    <table style="width: 97%;margin-bottom: 20px">
                                                                        <thead>
                                                                        <tr style="background: #193e35; color: white;">
                                                                            <th scope="col">Punto de control</th>
                                                                            <th scope="col">Estatus</th>
                                                                            <th scope="col">Fecha</th>
                                                                            <th scope="col">Comentario</th>
                                                                        </tr>
                                                                    </thead>
                                                                    @foreach (var row in Model.ControlPoints)
                                                                    {
                                                                            @if (r.ProjectEvidenceID == row.ProjectEvidenceID)
                                                                            {
                                                                            <tr>
                                                                            <th scope="row">@row.Description</th>
                                                                             @switch (@row.Status)
                                                                            {
                                                                                case 1:  
                                                                                        <td><span class="bold ws st-entiempo ws">En tiempo</span></td> 
                                                                                    break;
                                                                                case 2:  
                                                                                        <td><span class="bold st-atrasado ws">Atrasado</span></td> 
                                                                                    break;
                                                                                case 3: 
                                                                                        <td><span class="bold ws st-cimpacto ws">Con impacto</span></td> 
                                                                                    break;
                                                                                case 4: 
                                                                                        <td><span class="bold ws st-cerrado ws">Terminado</span></td> 
                                                                                    break;
                                                                                case 5:  
                                                                                        <td><span class="bold ws st-cancelado  ws">Cancelado</span></td> 
                                                                                    break;
                                                                                case 6:  
                                                                                        <td><span class="bold ws st-suspendido ws">Archivado</span></td> 
                                                                                    break;
                                                                            }
                                                                             <td>@row.PlannedEndDate</td>
                                                                            <td class="td-cp">@row.Comments</td>
                                                                        </tr>        
                                                                            }
                                                                        

                                                                    }   
                                                                
                                                                    </table>
                                                                </td>
                                                          </tr>
                                                            break;
                                                        }
                                                    }


                                                       
                                                           
                                                         
                                                    }

                                              </tbody>
                                          </table>
                                    }
                                    else
                                    {
                                       <div class="text-center"><i>No se encontraron datos</i></div>
                                    }
                                        
                                    </div>
                                 </div>
                                 <!---->
                                  <div class="row">
                                    <div class="col-md-12 pt-4">
                                        <div class="row">
                                          <div class="col-md-12">
                                             <p class="title-section">
                                                <b>Problemáticas</b>
                                             </p>
                                          </div>
                                          <div class="col-md-12">
                                              @if(Model.Incidents.Count > 0)
                                            {
                                              <table class="table table-hover table-striped">
                                                <thead>
                                                   <tr style="background-color: #9F2241;">
                                                      <th>Incidente</th>
                                                      <th>Elemento relacionado</th>
                                                      <th>Fecha de solución</th>
                                                      <th>Detalle del incidente</th>
                                                      <th>Estatus</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var b in Model.Incidents)
                                                    { 
                                                    <tr>
                                                        <td scope="row">@b.Description</td>
                                                            @if (@b.TaskID!=null)
                                                            {
                                                                <td><a>@b.TaskDescripcion</a></td>
                                                            }
                                                            @if (@b.EvidenceID!=null)
                                                            {
                                                                <td><a>@b.EvidenceDescripcion</a></td>
                                                            }
                                                        
                                                        <td>@b.PlannedEndDate</td>
                                                        <td>
                                                        @{
                                                            string comment =  @b.ActionPlan;
                                                            if(comment != null)
                                                            {
                                                                comment = comment.Replace("|", "<br>");
                                                            }
                                                        } 

                                                             @Html.Raw(@comment)
                                                        </td>
                                                         @{  
                                                                    @switch (@b.Status)
                                                                    {
                                                                        case 1:  
                                                                                <td><span class="bold ws st-entiempo ws">En tiempo</span></td> 
                                                                            break;
                                                                        case 2:  
                                                                                <td><span class="bold st-atrasado ws">Atrasado</span></td> 
                                                                            break;
                                                                        case 3: 
                                                                                <td><span class="bold ws st-cimpacto ws">Con impacto</span></td> 
                                                                            break;
                                                                        case 4: 
                                                                                <td><span class="bold ws st-cerrado ws">Terminado</span></td> 
                                                                            break;
                                                                        case 5:  
                                                                                <td><span class="bold ws st-cancelado  ws">Cancelado</span></td> 
                                                                            break;
                                                                        case 6:  
                                                                                <td><span class="bold ws st-suspendido ws">Archivado</span></td> 
                                                                            break;
                                                                    }
                                                            }
                                                         
                                                     </tr>
                                                    }
                                                     
                                                </tbody>
                                             </table>
                                            }
                                            else
                                            {
                                                 <div class="text-center"><i>No se encontraron datos</i></div>
                                            }
                                              
                                          </div>
                                        </div>
                                    </div>
                                 </div>
                                 <!---->
                                 <div class="row">
                                    <div class="col-md-12 pt-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                 <p class="title-section">
                                                    <b>Acciones a realizar</b>
                                                 </p>
                                            </div>
                                            <div class="col-md-12 pb-4">
                                                @if (Model.ActionPlan.Count > 0)
                                                {
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr style="background-color: #9F2241;">
                                                                <th rowspan="2" style="border: 1px solid !important;">Incidente</th>
                                                                <th colspan="3" style="border: 1px solid !important; text-align:center;display: table-cell;">Plan de acción</th>
                                                            </tr>
                                                            <tr style="background-color: #9F2241;">
                                                                <th style="border: 1px solid !important;">Descripcion</th>
                                                                <th style="border: 1px solid !important;">Fecha de solución</th>
                                                                <th>Estatus</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var a in Model.Incidents)
                                                            {
                                                                int count = 0;
                                                                @foreach (var b in Model.ActionPlan)
                                                                {
                                                                    @if (a.ProjectIncidentID == b.ProjectIncidentID)
                                                                    {
                                                                        count++;
                                                                        @if (count == 1)
                                                                        {
                                                                            <tr>
                                                                                <th rowspan="@a.CountActionPlan">@a.Description</th>
                                                                                <td>@b.Description</td>
                                                                                <td>@b.PlannedEndDate</td>
                                                                                @switch (@b.Status)
                                                                                {
                                                                                    case 1:
                                                                                        <td><span class="bold ws st-entiempo ws">En tiempo</span></td>
                                                                                        break;
                                                                                    case 2:
                                                                                        <td><span class="bold st-atrasado ws">Atrasado</span></td>
                                                                                        break;
                                                                                    case 3:
                                                                                        <td><span class="bold ws st-cimpacto ws">Con impacto</span></td>
                                                                                        break;
                                                                                    case 4:
                                                                                        <td><span class="bold ws st-cerrado ws">Terminado</span></td>
                                                                                        break;
                                                                                    case 5:
                                                                                        <td><span class="bold ws st-cancelado  ws">Cancelado</span></td>
                                                                                        break;
                                                                                    case 6:
                                                                                        <td><span class="bold ws st-suspendido ws">Archivado</span></td>
                                                                                        break;
                                                                                }
                                                                            </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td>@b.Description</td>
                                                                                <td>@b.PlannedEndDate</td>
                                                                                @switch (@b.Status)
                                                                                {
                                                                                    case 1:
                                                                                        <td><span class="bold ws st-entiempo ws">En tiempo</span></td>
                                                                                        break;
                                                                                    case 2:
                                                                                        <td><span class="bold st-atrasado ws">Atrasado</span></td>
                                                                                        break;
                                                                                    case 3:
                                                                                        <td><span class="bold ws st-cimpacto ws">Con impacto</span></td>
                                                                                        break;
                                                                                    case 4:
                                                                                        <td><span class="bold ws st-cerrado ws">Terminado</span></td>
                                                                                        break;
                                                                                    case 5:
                                                                                        <td><span class="bold ws st-cancelado  ws">Cancelado</span></td>
                                                                                        break;
                                                                                    case 6:
                                                                                        <td><span class="bold ws st-suspendido ws">Archivado</span></td>
                                                                                        break;
                                                                                }
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <div class="text-center"><i>No se encontraron datos</i></div>
                                                }
                                            </div>
                                         </div>
                                     </div>
                                 </div>
                            </div>
                         </div>
                     </div>
            </div>
        </div>
   </div>
}


 