@model PMCTool.Models.Core.Location
@{
    ViewData["Title"] = "Reporte individual de proyecto";
    Layout = "_Layout";
    var envName = Context.Request.Cookies["pmctool-name-env"];

}
@section ScriptsHeader
{
}
<style>
    .page-title-box .page-title {
        font-size: 18px;
        margin: 0;
        line-height: 36px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 700;
        color: #607d8b;
    }
</style>
<div class="content">
    <div class="container-fluid pl-0 ml-0">
        <div class="row justify-content-center mt-3">
            <div class="col-11 pl-2 pr-2">
                <div class="row g-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-10 col-sm-10">
                                <div class="btn-group bootstrap-select">
                                    <select name="projects" class="selectpicker sel-projects" id="selprojects" data-title="Proyectos" data-style="btn-default btn-outline" data-menu-style="dropdown-blue">
                                        @foreach (var project in ViewBag.projects)
                                        {
                                            <option value="@project.Key">@project.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="btn-group col-2 col-sm-2 pt-2">
                                <button type="button" class="btn btn-default btn-default btn-report">
                                    <i class="fas fa-file-pdf"></i> @Localizer["Search"]
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3 section" hidden>
            <div class="col-11 pl-2 pr-2">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                            </div>
                            <h4 class="page-title">@Localizer["Details"]</h4>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-sm-2 col-lg-2">
                        <div class="card shadow-none m-0">
                            <div class="card-body text-center">
                                <i class="fas fa-server text-muted" style="font-size: 24px;"></i>
                                <h3><span class="Count tt-participants"></span></h3>
                                <h6 class="text-muted font-15 mb-0">@Localizer["AssignedResources"]</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="fas fa-tasks text-muted" style="font-size: 24px;"></i>
                                <h3><span class="Count tt-task"></span></h3>
                                <h6 class="text-muted font-15 mb-0">@Localizer["TotalActivities"]</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="fas fa-file-alt text-muted" style="font-size: 24px;"></i>
                                <h3><span class="Count  tt-task-delayed"></span></h3>
                                <h6 class="text-muted font-15 mb-0">@Localizer["ActivitiesWithDelay"]</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="fas fa-chart-line text-muted" style="font-size: 24px;"></i>
                                <h3><span class="Count tt-risk"></span></h3>
                                <h6 class="text-muted font-15 mb-0">@Localizer["IdentifiedRisks"]</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="fas fa-tasks text-muted" style="font-size: 24px;"></i>
                                <h3><span class="Count tt-risk-closed"></span></h3>
                                <h6 class="text-muted font-15 mb-0">@Localizer["MitigatedRisks"]</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="fas fa-file-alt text-muted" style="font-size: 24px;"></i>
                                <h3><span class="Count tt-changes"></span></h3>
                                <h6 class="text-muted font-15 mb-0">@Localizer["Analytics1_012"]</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6">
                        <div class="card" style="height: 456px;">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <b class="header-title">@Localizer["Analytics1_002"]</b>
                                </div>
                                <div id="box-chart" style="height: 312px; max-height: 312px; position: relative; ">
                                    <figure class="highcharts-figure">
                                        <div id="container1"></div>
                                        <p class="highcharts-description"></p>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card" style="height: 456px;">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <b class="header-title">@Localizer["Analytics1_002"]</b>

                                </div>
                                <div id="box-chart" style="height: 312px; max-height: 312px; position: relative; ">
                                    <figure class="highcharts-figure">
                                        <div id="container2"></div>
                                        <p class="highcharts-description"></p>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bt-2">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-6 text-center  small px-4  text-left">
                                            <strong class="txt-blue"> @Localizer["RealProgress"] <span class="underline-link real-progress"> 0 %</span> </strong>
                                            <div class="progress" style="height: 15px;">
                                                <div class="progress-bar  progress-bar-striped progress-bar-animated graphic-real-progress" style="width:0%;"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6  text-center small px-4  text-left">
                                            <strong class="txt-blue"> @Localizer["PlannedProgress"] <span class="underline-link planned-progress"> 0 %</span> </strong>
                                            <div class="progress" style="height: 15px;">
                                                <div class="progress-bar bg-default  progress-bar-striped progress-bar-animated graphic-planned-progress" style="width:0%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header" style="background: #1a2545;color: white;">
                                <b>@Localizer["ElementRelationship"]</b>
                            </div>
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-elements">
                                            <thead>
                                                <tr style="background: #c1c1c1;">
                                                    <th scope="col">@Localizer["Analytics2_015"]</th>
                                                    <th scope="col">@Localizer["Description"]</th>
                                                    <th scope="col">@Localizer["PlannedEndDate"]</th>
                                                    <th scope="col">@Localizer["Status"]</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Views/Shared/_DataTablesScriptsPartial.cshtml")
<!--Sección de scripts-->
@section scripts
{
    <script src="~/js/plugins/bootstrap-datetimepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/themes/adaptive.js"></script>

    <script src="~/js/core/analitycs/vProjectDetail.js" asp-append-version="true"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            window.baseUrl = "@ViewBag.baseUrlPmctool";
        });
    </script>

}