@model IEnumerable<PMCTool.Models.Environment.ReportBranchLocation>;
@{
    Layout = "_LayoutReport";
    ViewData["Title"] = "UBICACIÓN DE SUCURSALES";
}
<div class="fresh-datatables" style="margin-top:40px">
    <table id="tablebrachadvances" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
        <thead>
            <tr style="background-color: rgb(188, 149, 92);color: white;font-weight: bold;font-size: 1em;">
                <th style="color:white; font-size: 1em;">Sucursales</th>
                <th class="text-center" style="color:white; font-size: 1em;">Estado</th>
                <th class="text-center" style="color:white; font-size: 1em;">Municipio</th>
                <th class="text-center" style="color:white; font-size: 1em;">Localidad</th>
                <th class="text-center" style="color:white; font-size: 1em;">Estatus</th>
                <th class="text-center" style="color:white; font-size: 1em;">Avance</th>
            </tr>
        </thead>
        <tbody>
            @{
                @foreach (var row in Model)
                {

                    <tr>
                        <td>@row.ProjectName</td>
                        <td class="text-center">
                            <strong> @row.State</strong>
                        </td>
                        <td class="text-center">
                            <strong> @row.Municipalities</strong>
                        </td>
                        <td class="text-center">
                            <strong> @row.Location  </strong>
                        </td>
                        <td class="text-center">
                            @if (@row.Status == 1)
                            {
                                <span class="badge badge-success"><strong>En tiempo</strong></span>
                            }
                            @if (@row.Status == 2)
                            {
                                <span class="badge badge-warning"><strong>Atrasado</strong></span>
                            }
                            @if (@row.Status == 3)
                            {
                                <span class="badge badge-danger"><strong>Con impacto</strong></span>
                            }
                            @if (@row.Status == 4)
                            {
                                <span class="badge badge-secondary"><strong>Terminado</strong></span>
                            }
                        </td>
                        <td class="text-center">
                            @{
                                var advange = row.Advance * 100;
                            }
                            <strong> @Math.Truncate(@advange)%</strong>
                        </td>
                    </tr>



                }
            }

        </tbody>
    </table>
</div>
