@model IEnumerable<PMCTool.Models.Environment.ReportBranchLocation>;
@{
    Layout = "_LayoutReport";
    ViewData["Title"] = "UBICACIÓN DE SUCURSALES";
}
<div class="row justify-content-center mt-3 div-map">
    <div class="col-12">
        <div class="card">
            <div class="card-body ">
                <div id="regularMap" class="map"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT4_lYZoSRsv9h_reS4rR8lBgzY6ZchYI&libraries=&v=weekly" defer></script>
<script>
    $(document).ready(() => {
        var model = JSON.parse('@Html.Raw(Json.Serialize(Model))');
        // Load initialize function
        google.maps.event.addDomListener(map, 'load', vBranchLocationClass.initMap(model));
    });
    var vBranchLocationClass = {
        initMap: (data) => {
            // Multiple markers location, latitude, and longitude
            var markers = [];
            for (var a = 0; a < data.length; a++) {
                var advance = data[a].advance * 100;
                var lenght = data[a].lenght;
                var latitude = data[a].latitude;
                if (latitude.length > 8) {
                    markers.push([data[a].projectName, parseFloat(latitude), parseFloat(lenght), data[a].projectID, Math.trunc(advance), data[a].status]);
                }
            }
            var map;
            var bounds = new google.maps.LatLngBounds();
            var mapOptions = {
                mapTypeId: google.maps.MapTypeId.HYBRID
            };

            // Display a map on the web page
            map = new google.maps.Map(document.getElementById("regularMap"), mapOptions);
            map.setTilt(50);




            // Add multiple markers to map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            // Place each marker on the map
            for (i = 0; i < markers.length; i++) {

                var position = new google.maps.LatLng(markers[i][1], markers[i][2]);

                bounds.extend(position);
                var status = markers[i][5];
                status == 1 ? status = '<span class="badge badge-success">En tiempo</span>' : '';
                status == 2 ? status = '<span class="badge badge-warning">Atrasado</span>' : '';
                status == 3 ? status = '<span class="badge badge-danger">Con impacto</span>' : '';
                status == 4 ? status = '<span class="badge badge-secondary">Terminado</span>' : '';

                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: markers[i][0],
                    idProject: markers[i][3],
                    avance: markers[i][4],
                    status: status
                });
                // Add info window to marker
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    var html = '<div class="container-fluid"><div class="row">'
                        + '<div class="col-12">'
                        + '<div class="row text-center">'
                        + '<div class="col-12" style="background: #a5a5a5;color: white;background: #205180;padding: 6px;">'
                        + '<h5 style="margin-bottom: 2px;margin-top: 2px;font-weight: 500;text-transform: uppercase;">' + marker.title + '</h5>'
                        + '</div>'
                        + '</div>'
                        + '<div class="row" style="border:1px solid #E6E6E6">'
                        + '<div class="col-6" style="padding: 2px;margin-top: 3px;margin-bottom: 3px;">'
                        + '<h6>Avance</h6>'
                        + '</div>'
                        + '<div class="col-6 text-center">'
                        + '<h6>' + marker.avance + '%</h6>'
                        + '</div>'
                        + '</div>'
                        + '<div class="row" style="border:1px solid #E6E6E6">'
                        + '<div class="col-6" style="padding: 2px;margin-top: 3px;margin-bottom: 3px;">'
                        + '<h6>Estatus</h6>'
                        + '</div>'
                        + '<div class="col-6 text-center">'
                        + marker.status
                        + '</div>'
                        + '</div>'
                        + '<div class="row justify-content-center pt-3">'
                        + '<a type="button" href="/FactSheet/Index?projectId=' + marker.idProject + '">'
                        + 'Ficha de proyecto <span class="btn-label btn-label-right">'
                        + '<i class="fa fa-arrow-right"></i>'
                        + '</span>'
                        + '</a>'
                        + '</div>'
                        + '</div>'
                        + '</div></div>';
                    return function () {
                        infoWindow.setContent(html);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));

                // Center the map to fit all markers on the screen
                map.fitBounds(bounds);
            }

            // Set zoom level
            var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                this.setZoom(5);
                google.maps.event.removeListener(boundsListener);

            });
        }
    }
</script>
<div class="fresh-datatables" style="margin-top:40px">
    <table id="tablebrachadvances" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
        <thead>
            <tr style="background-color: rgb(188, 149, 92);color: white;font-weight: bold;font-size: 1em;">
                <th style="color:white; font-size: 1em;">Sucursales</th>
                <th class="text-center" style="color:white; font-size: 1em;">Estado</th>
                <th class="text-center" style="color:white; font-size: 1em;">Municipio</th>
                <th class="text-center" style="color:white; font-size: 1em;">Localidad</th>
                <th class="text-center" style="color:white; font-size: 1em;">Estatus</th>
                <th class="text-center" style="color:white; font-size: 1em;">Avance</th>
            </tr>
        </thead>
        <tbody>
            @{
                @foreach (var row in Model)
                {

                    <tr>
                        <td>@row.ProjectName</td>
                        <td class="text-center">
                            <strong> @row.State</strong>
                        </td>
                        <td class="text-center">
                            <strong> @row.Municipalities</strong>
                        </td>
                        <td class="text-center">
                            <strong> @row.Location  </strong>
                        </td>
                        <td class="text-center">
                            @if (@row.Status == 1)
                            {
                                <span class="badge badge-success"><strong>En tiempo</strong></span>
                            }
                            @if (@row.Status == 2)
                            {
                                <span class="badge badge-warning"><strong>Atrasado</strong></span>
                            }
                            @if (@row.Status == 3)
                            {
                                <span class="badge badge-danger"><strong>Con impacto</strong></span>
                            }
                            @if (@row.Status == 4)
                            {
                                <span class="badge badge-secondary"><strong>Terminado</strong></span>
                            }
                        </td>
                        <td class="text-center">
                            @{
                                var advange = row.Advance * 100;
                            }
                            <strong> @Math.Truncate(@advange)%</strong>
                        </td>
                    </tr>



                }
            }

        </tbody>
    </table>
</div>
