@model PMCTool.App.Models.PasswordRecoverModel
@{
    Layout = "_LayoutLogin";
}

<div class="full-page  section-image" data-color="black" data-image="/images/full-screen-bg.jpg">
    <div class="content">
        <div class="container">
            <div class="col-md-6 col-sm-6 ml-auto mr-auto">
                <div>
                    <form id="frmMain" class="form">
                        @Html.HiddenFor(m => m.Token)

                        <div class="card card-login card-hidden">
                            <div class="card-header text-center">
                                <img class="hlogo" src="~/images/logo3.png" asp-append-version="true">
                            </div>
                            @{
                                if (!string.IsNullOrEmpty(Model.Token))
                                {
                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>@Localizer["New"] @Localizer["Password"]</label><star class="star">*</star>
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "", @placeholder = Localizer["Minimum8characters"], @required = "required", @minlength = 8, @maxlength = 10 })
                                            </div>
                                            <div class="form-group">
                                                <label>@Localizer["Confirm"]</label><star class="star">*</star>
                                                @Html.PasswordFor(m => m.Confirm, new { @class = "form-control", @style = "", @placeholder = Localizer["Minimum8characters"], @required = "required", @minlength = 8, @maxlength = 10, @equalTo = "#Password" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer ml-auto mr-auto">
                                        <button type="button" onclick="restore(); return false;" class="btn btn-default btn-wd">@Localizer["Restore"]</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="form-group text-center">
                                                <label><b> @Localizer["4004"] </b></label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/core/vPasswordRecovery.js" asp-append-version="true"></script>
}