@model PMCTool.App.Models.PasswordRecoverModel

<div class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form id="frmMain" action="" method="">
                        <div class="card ">
                            <div class="card-body ">
                                <div class="form-group has-label">
                                    <label>
                                        @Localizer["New"] @Localizer["Password"]
                                        <star class="star">*</star>
                                    </label>

                                    @Html.PasswordFor(m => m.Password, new { @id = "Password", @class = "form-control", @style = "", @required = "required", @minlength = 8, @maxlength = 10 })
                                    <label id="password-long" class="mt-1" for="password">@Localizer["PasswordLong"]</label>
                                </div>
                                <div class="form-group has-label">
                                    <label>
                                        @Localizer["Confirm"]
                                        <star class="star">*</star>
                                    </label>
                                    @Html.PasswordFor(m => m.Confirm, new { @id = "Confirm", @class = "form-control", @style = "", @required = "required", @minlength = 8, @maxlength = 10, @equalTo = "#Password" })
                                </div>
                                <div class="card-category form-category">
                                    <star class="star">*</star> @Localizer["RequiredFields"]
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button type="button" onclick="updatePassword(); return false;" class="btn btn-default btn-fill pull-right">@Localizer["Update"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/core/vUpdatePassword.js" asp-append-version="true"></script>
}

