@model PMCTool.Models.Environment.Participant

@Html.Hidden("OldCode", Model.Code)
@Html.Hidden("OldEmail", Model.Email)
@Html.Hidden("mCostType", Model.CostType)

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="frmMain" enctype="multipart/form-data">
                    @Html.HiddenFor(m => m.ParticipantID)

                    <div class="card ">
                        <div class="card-header ">
                            <div class="card-header">
                                @{
                                    if (ViewBag.Mode == "New")
                                    {
                                        <h4 class="card-title">@Localizer["New"] @Localizer["Participant"]</h4>
                                    }
                                    else
                                    {
                                        <h4 class="card-title">@Localizer["Update"] @Localizer["Participant"]</h4>
                                    }
                                }
                            </div>
                            <div class="card-body ">
                                <div class="row justify-content-center">
                                    <div class="col-md-3 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Code"]</label>
                                            @Html.TextBoxFor(m => m.Code, new { @id = "Code", @class = "form-control", @style = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Name"]</label><star class="star">*</star>
                                            @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @style = "", @required = "required", @maxlength = 50 })
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Lastname"]</label><star class="star">*</star>
                                            @Html.TextBoxFor(m => m.Lastname, new { @id = "Lastname", @class = "form-control", @style = "", @required = "required", @maxlength = 50 })
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Surname"]</label>
                                            @Html.TextBoxFor(m => m.Surname, new { @id = "Surname", @class = "form-control", @style = "", @maxlength = 50 })
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Email"]</label><star class="star">*</star>
                                            @Html.TextBoxFor(m => m.Email, new { @id = "Email", @class = "form-control", @style = "", @required = "required", @maxlength = 150, @type = "email" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Mobile"]</label>
                                            @Html.TextBoxFor(m => m.Contact.Value, new { @id = "Contact", @class = "form-control", @style = "", @maxlength = 20 })
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-2">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Company"]</label><star class="star">*</star>
                                            @Html.DropDownListFor(m => m.CompanyID, new SelectList(ViewBag.Companies, "Key", "Value"), new { @id = "CompanyID", @class = "form-control", @style = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Area"]</label><star class="star">*</star>
                                            @Html.DropDownListFor(m => m.AreaID, new SelectList(ViewBag.Areas, "Key", "Value"), new { @id = "AreaID", @class = "form-control", @style = "", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-3 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Function"]</label>
                                            @Html.DropDownListFor(m => m.FunctionID, new SelectList(ViewBag.Functions, "Key", "Value"), new { @id = "FunctionID", @class = "form-control", @style = "" })
                                        </div>
                                    </div>

                                    <div class="col-md-3 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Escalation"]</label>
                                            @Html.DropDownListFor(m => m.EscalationID, new SelectList(ViewBag.Escalations, "Key", "Value"), new { @id = "EscalationID", @class = "form-control", @style = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["CostType"]</label>
                                            @Html.DropDownListFor(m => m.CostType, new SelectList(ViewBag.CostTypes, "Key", "Value"), new { @id = "CostType", @class = "form-control", @style = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-2">
                                        <label>@Localizer["Cost"]</label>
                                        @Html.TextBoxFor(m => m.Cost, new { @id = "Cost", @class = "form-control text-right", @style = "" })
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-3 px-2">
                                        <div class="form-group">
                                            <label>@Localizer["Currency"]</label>
                                            @Html.DropDownListFor(m => m.CurrencyID, new SelectList(ViewBag.Currencies, "Key", "Value"), new { @id = "CurrencyID", @class = "form-control", @style = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-2">
                                    </div>
                                    <div class="col-md-3 px-2">
                                    </div>
                                    <div class="col-md-3 px-2">
                                    </div>
                                </div>

                                <div class="row justify-content-center mt-4">
                                    <div class="col-md-12">
                                        <div class="form-group mb-1">
                                            <label class="title">
                                                <b>@Localizer["Address"]</b>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-8 px-2">
                                        <div class="form-group ">
                                            <label>@Localizer["Street"]</label>
                                            @Html.TextBoxFor(m => m.Address.Street, new { @id = "Street", @class = "form-control", @style = "", @maxlength = 450 })
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-2">
                                        <div class="form-group ">
                                            <label>@Localizer["ExtNum"]</label>
                                            @Html.TextBoxFor(m => m.Address.ExtNum, new { @id = "ExtNum", @class = "form-control", @style = "", @maxlength = 150 })
                                        </div>

                                    </div>
                                    <div class="col-md-2 px-2">
                                        <div class="form-group ">
                                            <label>@Localizer["IntNum"]</label>
                                            @Html.TextBoxFor(m => m.Address.IntNum, new { @id = "IntNum", @class = "form-control", @style = "", @maxlength = 150 })
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-10 px-2">
                                        <div class="form-group ">
                                            <label>@Localizer["District"]</label>
                                            @Html.TextBoxFor(m => m.Address.District, new { @id = "District", @class = "form-control", @style = "", @maxlength = 450 })
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-2">
                                        <div class="form-group ">
                                            <label>@Localizer["ZipCode"]</label>
                                            @Html.TextBoxFor(m => m.Address.ZipCode, new { @id = "ZipCode", @class = "form-control", @style = "", @maxlength = 50 })
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-4 px-2">
                                        <div class="form-group ">
                                            <label>@Localizer["Country"]</label>
                                            @Html.DropDownListFor(m => m.Address.CountryID, new SelectList(ViewBag.Countries, "Key", "Value"), new { @id = "CountryID", @class = "form-control", @style = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-2">
                                        <div class="form-group ">
                                            <label>@Localizer["State"]</label>
                                            @Html.DropDownListFor(m => m.Address.StateID, new SelectList(ViewBag.States, "Key", "Value"), new { @id = "StateID", @class = "form-control", @style = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-2">
                                        <div class="form-group ">
                                            <label>@Localizer["City"]</label>
                                            @Html.DropDownListFor(m => m.Address.CityID, new SelectList(ViewBag.Cities, "Key", "Value"), new { @id = "CityID", @class = "form-control", @style = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 px-2">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.IsActive, new { @id = "IsActive", @class = "form-check-input" })
                                                    <span class="form-check-sign"></span>
                                                    @Localizer["Active"]
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 px-2">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" id="btnCancel" onclick="cancelParticipant(); return false;" class="btn btn-info btn-fill">@Localizer["Cancel"]</button>
                            @{
                                if (ViewBag.Mode == "Edit")
                                {
                                    <button type="button" id="btnUpdate" onclick="updateParticipant(); return false;" class="btn btn-default btn-fill">@Localizer["Update"]</button>
                                }
                                if (ViewBag.Mode == "New")
                                {
                                    <button type="button" id="btnCreate" onclick="createParticipant(); return false;" class="btn btn-default btn-fill">@Localizer["Create"]</button>
                                }
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/core/vParticipantEditor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.mask.min.js" asp-append-version="true"></script>
}