@model IEnumerable<PMCTool.Models.Environment.GlobalStatus>;
@{
         var envName = Context.Request.Cookies["pmctool-name-env"]; 
}
    <div class="fresh-datatables">
        @if (Model.Count() > 0)
        {
            <table id="tableGlobalStatus" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr class="div-detail-head">
                        <th>DIRECCIÓN GENERAL</th>
                        <th class="text-center">EN EJECUCIÓN</th>
                        <th class="text-center">PREINVERSIÓN</th>
                        <th class="text-center">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var totalInExecution = 0;
                        var totalPreviousExecution = 0;
                        var total = 0;
                        @foreach (var item in Model)
                        {
                            totalInExecution = totalInExecution + item.InExecution;
                            totalPreviousExecution = totalPreviousExecution + item.PreviousExecution;
                            total = total + item.Total;
                            <tr>
                                <th>
                                    @{
                                        string GeneralDirection = item.GeneralDirection;
                                    }
                                    @if (GeneralDirection == "DGC")
                                    {
                                        GeneralDirection= GeneralDirection+" Carretera";
                                    }
                                    @if (GeneralDirection == "DGDC")
                                    {
                                        GeneralDirection = GeneralDirection + " Desarrollo Carretero";
                                    }
                                    @if (GeneralDirection == "DGTFM")
                                    {
                                        GeneralDirection = GeneralDirection + " Transporte Ferroviario y Multimodal";
                                    }
                                     @GeneralDirection
                                </th>
                                <td class="text-center">@item.InExecution</td>
                                <td class="text-center">@item.PreviousExecution</td>
                                <td class="text-center">@item.Total</td>
                            </tr>
                        }
                        <tr>
                            <th class="text-center">Total:</th>
                            <th class="text-center">@totalInExecution</th>
                            <th class="text-center">@totalPreviousExecution</th>
                            <th class="text-center">@total</th>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="col-12 text-center">
                <h5 class="color-font-global">No se encontraron resultados para los filtros ingresados</h5>
            </div>
        }
    @if (envName == "Sct")
    {
        <div class="row pt-4">
            <div class="col-md-12 text-right">
                <img src="/images/ricardofm.png?v=1" style="max-height: 100px;">
            </div>
         </div>
    }    
    </div>
    <script>
        vGlobalStatus.iniDataTable();
        if (@Model.Count() == 0) {
            $(document).ready(function () {
                $('#btnDetalle').hide();
            });
        }
    </script>
